<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="nl.bzk.brp.apitest.omgeving.util" monitorInterval="60">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1.} - %msg%n"/>
        </Console>
        <RollingFile name="Systeem" fileName="target/logs/brp-systeem.log"
                     filePattern="target/logs/brp-systeem-%d{MM-dd-yyyy}.log.gz">
            <MarkerFilter marker="FUNCTIONELE_LOG" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Systeem"/>
        </Root>
        <logger name="nl.bzk.brp.util.autconv.lo3naarbrp" level="INFO"/>
        <logger name="nl.bzk.brp.service.algemeen.dataaccess" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="org.dbunit" level="INFO"/>
        <logger name="org.springframework.test.context.transaction" level="INFO"/>
    </Loggers>
</Configuration>
