***before***
/** QUERY:
    (SELECT 'Test waarde.' as Javadoc,
    'MIJN_NAAM' as JavaNameBase,
    '(1, true)' as JavaStatement)
    UNION
    (SELECT 'Tweede waarde.' as Javadoc,
    'TWEEDE_NAAM' as JavaNameBase,
    '(2, true)' as JavaStatement)
*/
***after***
