<div class="persoon" id='<%= persoonId %>'>
    <div class="hoofdtitelbalk">
    	<div class="volledigenaam"><h2 title="<%= persoonTitel %>"><%= persoonTitel %></h2></div>
    	<span class="buttons">
            <span class="button_container"><button class="plbutton opnieuw" type="button">alles dichtklappen</button></span>
   			<span class="button_container"><button class="plbutton close" type="button"><%= closeBtnText %></button></span>
    	</span>
    </div>
	<div class="persoonslijsten"></div>
	<div class="controles"></div>
</div>
