<div ng-form="editSubForm" class="form-horizontal" novalidate data-ng-controller="SecurityController">
    <div class="modal-header">
        <h4 class="panel-title">{{titel}}</h4>
    </div>
    <div class="modal-body">
        <div ng-repeat="column in subkolommen" ng-if="(column.toonOpBewerken && !(onderhandenitem.status.nieuw && column.nieuwReadonly))">
            <div class="form-group clearrow {{column.required && !((!onderhandenitem.status.nieuw && column.readonly) || (onderhandenitem.status.nieuw && column.nieuwReadonly)) ? 'required' : ''}}">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <label class="text-left control-label">{{column.name}}</label>
                </div>
                <div class="col-md-{{column.breedte}} col-sm-8 col-xs-12">
                    <brp-veld kolom="{{column}}" waarde="onderhandenitem.item" itemstatus="onderhandenitem.status"></brp-veld>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="annuleren()" class="btn btn-default" ng-show="!hasRole('ROLE_BRP-FB')">Sluiten</a>
        <a ng-click="annuleren()" class="btn btn-default" ng-show="hasRole('ROLE_BRP-FB')">{{!editSubForm.$dirty ? 'Sluiten' : 'Annuleren'}}</a>
        <a ng-click="opslaan(editSubForm)" class="btn btn-primary" ng-disabled="!editSubForm.$dirty || editSubForm.$invalid" ng-show="hasRole('ROLE_BRP-FB')">Opslaan</a>
    </div>
</div>
