<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/brpgen</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        <property name="hibernate.show_sql">false</property>
        <!-- JDBC batch size for better insert performance -->
        <property name="hibernate.jdbc.batch_size">1000000</property>

        <property name="hibernate.connection.username">brp</property>
        <property name="hibernate.connection.password">brp</property>

        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Types.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Aangadresh.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Abonnement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Abonnementgegevenselement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Abonnementsrtber.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Actie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Authenticatiemiddel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Autorisatiebesluit.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Autvanafgiftereisdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Ber.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Beractie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Berbijgehoudenpers.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Bermelding.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Beroverrule.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Betr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Bijhautorisatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Bijhresultaat.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Bijhsituatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Bron.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Categoriepersonen.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Categoriesrtactie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Categoriesrtdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Certificaat.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Dbobject.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Doc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Doelbinding.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Doelbindinggegevenselement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Element.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Functie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Gegeveninonderzoek.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisAbonnement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisAbonnementsrtber.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisAuthenticatiemiddel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisAutorisatiebesluit.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisAutorisatiebesluitbijhau.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisBetrouderlijkgezag.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisBetrouderschap.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisBijhautorisatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisBijhsituatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisDoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisDoelbinding.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisMultirealiteitregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisOnderzoek.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPartij.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPartijgem.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersaanschr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersadres.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersbijhgem.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersbijhverantwoordelijk.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPerseuverkiezingen.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersgeboorte.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersgeslachtsaand.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersgeslnaamcomp.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersids.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersimmigratie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersindicatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersinschr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersnation.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersopschorting.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersoverlijden.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPerspk.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersreisdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPerssamengesteldenaam.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersuitslnlkiesr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersverblijfsr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersverificatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisPersvoornaam.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisRegelsituatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisRelatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/HisUitgeslotene.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Land.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Lev.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Levcommunicatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Levpers.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Melding.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Multirealiteitregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Nation.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Onderzoek.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Overrule.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Partij.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Partijrol.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Pers.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persadres.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persgeslnaamcomp.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persindicatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persnation.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Personderzoek.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persreisdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persverificatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Persvoornaam.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Plaats.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Protocolleringsniveau.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Rdnverknlnation.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Rdnverliesnlnation.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Rdnvervallenreisdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Regel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Regeleffect.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Regelsituatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Regelsrtber.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Regelverantwoording.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Relatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Richting.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Rol.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Sector.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtabonnement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtautorisatiebesluit.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtber.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtbevoegdheid.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtdbobject.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtdoc.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtelement.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtlev.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtmelding.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtmultirealiteitregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtpartij.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Srtverificatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Toestand.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Uitgeslotene.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Verblijfsr.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Verdrag.hbm.xml" />
        <mapping resource="nl/bzk/brp/testdatageneratie/domain/kern/Verwerkingsresultaat.hbm.xml" />
    </session-factory>
</hibernate-configuration>
