<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler" type="button" (click)="toggle()" aria-controls="exCollapsingNavbar"
          [attr.aria-expanded]="showNavigation" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div id="exCollapsingNavbar" [@navigationState]="showNavigation">
    <div class="bg-inverse p-a-1">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/home']">BRP Beheer</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/home']">Home <span
                class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/selectie']">Selectie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Vrij Bericht</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</nav>
