<?xml version="1.0" encoding="UTF-8"?>
<web-app id="BRP-Levering-Verzending" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>BRP Levering Services - Verzending</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/brp-verzending-context.xml</param-value>
    </context-param>

    <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>Verzending</param-value>
    </context-param>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>versie.html</welcome-file>
    </welcome-file-list>

</web-app>
