<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<!-- Following is commented out as it is deprecated -->
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->

	<jaxws:endpoint id="bewerkenNationaliteitSpecifiek" implementor="nl.bzk.brp.poc.berichtenverwerker.bewerkennationaliteitspecifiek.BewerkenNationaliteitSpecifiekImpl"
		address="/bewerkenennationaliteitspecifiek" />

</beans>