<div class="row">
	<div class="col-xs-12">
		<h2>Berichten</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<form>
			<fieldset>
				<legend>Zoeken</legend>
				<div><label>ID <input type="text" ng-model="filterValues.filterId" /></label></div>
				<div><label>Soort <input type="text" ng-model="filterValues.filterSoort" /></label></div>
			</fieldset>
			<button ng-click="zoeken()" type="submit" class="btn btn-default">Zoeken</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-striped">
			<caption>Resultaat</caption>
			<thead>
				<tr>
					<th><a href="" ng-click="sorteren('ID')">ID</a></th>
					<th><a href="" ng-click="sorteren('Soort')">Soort bericht</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bericht in lijst.content">
					<td><a ng-href='#/bericht/view/{{bericht.iD}}'>{{bericht.iD}}</a></td>
					<td>{{bericht.soort.waarde}}</td>
				</tr>
			</tbody>
		</table>
		<pagination items-per-page="lijst.size" total-items="lijst.totalElements" ng-model="paginaNummer" ng-change="pagineren()" ></pagination>
	</div>
</div>
