<div class="row">
	<div class="col-xs-12">
		<h2>Bericht details</h2>
		<fieldset>
			<legend>Berichtgegevens</legend>
			<dl>
				<dd>ID</dd>
				<dt>{{item.iD}}</dt>
				<dd>Soort</dd>
				<dt>{{item.soort.waarde}}</dt>
				<dd>Richting</dd>
				<dt>{{item.riching.waarde}}</dt>
			<dl>
		</fieldset>
		<fieldset>
			<legend>Resultaat</legend>
			<dl>
				<dd>Bijhouding</dd>
				<dt>{{item.resultaat.bijhouding.waarde}}</dt>
				<dd>Resultaat</dd>
				<dt>{{item.resultaat.verwerking.waarde}}</dt>
				<dd>Hoogste meldingsniveau</dd>
				<dt>{{item.resultaat.hoogstemeldingsniveau.waarde}}</dt>
			<dl>
		</fieldset>
		<fieldset>
			<legend>Stuurgegevens</legend>
			<dl>
				<dd>Zendende partij (system)</dd>
				<dt>{{item.stuurgegevens.zendendePartijId}} ({{bericht.stuurgegevens.zendendeSysteem}})</dt>
				<dd>Datum-tijd ontvangst</dd>
				<dt>{{item.stuurgegevens.datumTijdOntvangst}}</dt>
				<dd>Referentienummer</dd>
				<dt>{{item.stuurgegevens.referentienummer}}</dt>
				<dd>Cross referentienummer</dd>
				<dt>{{item.stuurgegevens.crossReferentienummer}}</dt>
				<dd>Hoogste meldingsniveau</dd>
				<dt>{{item.resultaat.hoogstemeldingsniveau.waarde}}</dt>
			</dl>
		</fieldset>
	</div>
</div>
