<div class="container-fluid">
  <ngb-alert *ngIf="alert" (close)="alert = null;" [type]="alert.type">{{alert.message}}</ngb-alert>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" novalidate>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-taak">
      <ngb-panel id="ngb-panel-dienst">
        <ng-template ngbPanelTitle>
          <span><b>Dienst</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Dienst ID:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.dienstId}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-selectietaak-selectiecriterium-' + index">
              Selectiecriterium:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.selectiecriterium}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-historievorm-' + index">Historievorm:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.historievormSelectie}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-controleren-' + index">Selectieresultaat controleren?:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{!dienst.selectieresultaatControleren ? 'Nee' : 'Ja'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-max-personen-' + index">Max. aantal personen in
                                                                                               selectiebestand:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.maxAantalPersonenPerSelectiebestand}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-max-grootte-' + index">Max. grootte selectiebestand:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.maxGrootteSelectiebestand}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-verzend-bericht-' + index">Verzend volledig bericht bij aanpassen
                                                                                                  afnemerindicatie?:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.verzendVolledigBerichtBijWijzigingAfnemerindicatie ? 'Ja' : 'Nee'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-leverwijze-' + index">Leverwijze selectie:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{dienst.leverwijzeSelectie}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-toegang">
        <ng-template ngbPanelTitle>
          <span><b>Toegang</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Toegang Leveringsautorisatie ID:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.toegangLeveringsautorisatieId}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Partijcode:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.afnemerCode}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Partij:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.afnemerNaam}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Stelsel :</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.stelsel}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="ngb-panel-taak">
        <ng-template ngbPanelTitle>
          <span><b>Taak</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Selectiesoort:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.selectieSoort}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Eerste selectiedatum:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{taak.eersteSelectieDatum | date : 'dd-MM-yyyy'}}</p>
            </div>
          </div>
          <div class="form-group row" *ngIf="heeftSelectieInterval()">
            <label class="col-sm-2 col-form-label">Selectie interval:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{value |
                                             selectieIntervalPipe:taak.selectieInterval:taak.eenheidSelectieInterval}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'datum-planning-' + index">Datum planning:</label>
            <app-datepicker [id]="'datum-planning-' + index" name="datumPlanning" class="col-4"
                            [class.has-danger]="!form.controls.datumPlanning.valid"
                            [group]="form" ngDefaultControl></app-datepicker>
            <!--[(ngModel)]="taak.datumPlanning" [ngModelOptions]="{standalone: true}"-->
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'peilmoment-materieel-resultaat-' + index">Peilmoment
                                                                                                     materieel
                                                                                                     resultaat:</label>
            <app-datepicker [id]="'peilmoment-materieel-resultaat-' + index" name="datumPeilmomentMaterieelRes" class="col-4"
                            [group]="form" ngDefaultControl></app-datepicker>
            <div class="" *ngIf="dienst.selectiePeilmomentMaterieelResultaat">
              <p class="form-control-static">Dienst: {{dienst.selectiePeilmomentMaterieelResultaat | date : 'dd-MM-yyyy'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'peilmoment-formeel-resultaat-' + index">Peilmoment
                                                                                                   formeel
                                                                                                   resultaat:</label>
            <app-datepicker [id]="'peilmoment-formeel-resultaat-' + index" name="datumPeilmomentFormeelRes" class="col-4"
                            [group]="form" ngDefaultControl></app-datepicker>
            <div class="" *ngIf="dienst.selectiePeilmomentFormeelResultaat">
              <p class="form-control-static">
                Dienst: {{dienst.selectiePeilmomentFormeelResultaat.split('[UTC]')[0] | date : 'dd-MM-yyyy HH:mm:ss'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-selectietaak-status-' + index">Status:</label>
            <div class="input-group col-4" [class.has-danger]="!form.controls.selectieStatus.valid">
              <select [id]="'taak-detail-selectietaak-status-' + index" name="taak-detail-selectietaak-status"
                      class="form-control" formControlName="selectieStatus">
                <option *ngFor="let status of alleStatussen | toegestaneSelectiestatussen" [value]="status.id">
                  {{status.naam}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" [for]="'taak-detail-selectietaak-status-toelichting-' + index">
              Status toelichting:</label>
            <div class="input-group col-4">
            <textarea class="form-control" placeholder="Licht de selectiestatus toe..."
                      [id]="'taak-detail-selectietaak-status-toelichting-' + index"
                      formControlName="selectieStatusToelichting"></textarea>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="btn-group mt-1">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [disabled]="!form.valid || !form.dirty">
        Opslaan
      </button>
    </div>
  </form>
</div>
