<style>
	a {
		color: #000000;
	}
</style>
<div class="panel panel-default">
	<div class="panel-body">
		<div ng-if="stage">
			<div ng-if="stage"><i class="icon-circle-arrow-right"></i> <a href="#/Testtool/Stages"> {{ stage }}</a></div>
			<div ng-if="flavour && stage != 'IV' && stage != 'TC'"><i class="icon-glass"></i> <a href="#/Testtool/Stages/Mutaties/{{ stage }}/{{ flavour }}/{{ anr }}">{{ flavour }}</a></div>
			<div ng-if="flavour && (stage == 'IV' || stage == 'TC')"><i class="icon-glass"></i> {{ flavour }}</div>
			<div ng-if="anr && stage != 'IV' && stage != 'TC'"><i class="icon-user"></i> <a href="#/Testtool/Stages/Mutaties/{{ stage }}/{{ anr }}">{{ anr }}</a></div>
			<div ng-if="anr && (stage == 'IV' || stage == 'TC')"><i class="icon-user"></i> <a href="#/Testtool/Stages/Enkel/{{ stage }}/{{ flavour }}/{{ anr }}">{{ anr }}</a></div>
			<div ng-if="afnemer"><i class="icon-download-alt"></i> {{ afnemer }}</div>
			<div ng-if="berichtnummer"><i class="icon-check-empty"></i> {{ berichtnummer }}</div>
			<div ng-if="berichttype" style="overflow:hidden;white-space: nowrap;text-overflow: ellipsis;"><i class="icon-paper-clip"></i> <span ng-bind-html="berichttype | stripPercent"></span></div>
			<div ng-if="script" style="overflow:hidden;white-space: nowrap;text-overflow: ellipsis;"><i class="icon-file"></i> {{ script }}</div>
			<div ng-if="bsn"><i class="icon-bookmark"></i> {{ bsn }}</div>
			<div ng-if="excel"><i class="icon-th"></i> {{ excel }}</div>
			<div ng-if="volgnr"><i class="icon-time"></i> {{ volgnr | stripPercent }}</div>
		</div>
	</div>
</div>
