<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %marker %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="ERROR">
            <AppenderRef ref="Console"/>
        </AsyncRoot>

        <AsyncLogger name="nl.bzk.brp.delivery.dataaccess.bevraging" level="DEBUG"/>
        <AsyncLogger name="com.atomikos" level="WARN"/>
        <AsyncLogger name="org.springframework" level="WARN"/>
    </Loggers>
</Configuration>
