.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
  background-color: #f2dede !important;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.disabled {
  cursor:progress;
}

.has-spinner.disabled .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.disabled .spinner {
    width: 10px;
}

.has-spinner.btn-small.disabled .spinner {
    width: 13px;
}

.has-spinner.btn.disabled .spinner {
    width: 16px;
}

.has-spinner.btn-large.disabled .spinner {
    width: 19px;
}

.marginBottom-0 {
	margin-bottom: 0;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #555;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.cell { 
	padding: 6px; 
	border: 0.1px dotted #111;
	height: 20px;
}

.cell.head {
	font-weight: bold;
}

.table { 
	display: table;
}

.table .row {
	display: table-row;
	height: 35px;
}

.table .cell {
	display: table-cell;
}

tr .row {
   	cursor: pointer;
}

div.colspan, div.colspan+div.cell {
	border:0;
}

div.colspan {
	width:1px;
}

div.colspan>div {
	position:relative;
	width:99px;
	overflow:hidden;
}

md-content {
	background-color: #fff;	
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}