/*
-----------------------------------------------
Navigation
----------------------------------------------- */

/* navigation
----------------------------------------------- */
ul.nav {
  position:relative;
  max-width:100%;
  height:2.5em;
  }
ul.nav li {
	cursor:pointer;
	float:left;
	text-align:center;
	list-style-type:none;
	font-weight:normal;
}
ul.nav li ul {
	cursor:default;
	width:100%;
	max-width:100%;
	position:absolute;
	height:auto;
	top:2.5em;
	background-position:0 0 !important;
	left:-9000px;
}
ul.nav li ul li {
	padding:0;
	border:none;
	width:auto;
	max-width:none;
}
ul.nav li a {
	font-weight:bold;
	text-decoration:none;
	display:block;
	float:left;

}
ul.nav li ul li a {
	position:relative !important; /* ie Mac */
	cursor:pointer !important;
	white-space:nowrap;
	line-height:2em;
	height:2em;
	font-weight:normal;
	color:#666;
	background-position:0 50% !important;
}

ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {color:#000; background:#ccc;}
ul.nav li a:active {color:#666; background:#fff;}
ul.nav li:hover ul {left:0;z-index:10}

/* navigation main
----------------------------------------------- */
ul.main * {
	margin:0;padding:0;
}

ul.main {
	 background:#0A7AAA;
}

ul.main li {
  position:relative;
  top:0;
  left:0;
}
ul.main li ul {
  border-top:0;
}
ul.main li ul li {
  float:left;
}
ul.main li a {
    height: 16px;
    font-size: 12px;
    padding:4px 1em 0;
	border:0;
	color:#fff;
	background:#0A7AAA;
}
ul.main li.active a {
	background-color: #D5E4F2;
	color: #333333;
}
ul.main li ul li a {
  width:12em;
  line-height:2em;
  height:2em;
  text-align:left;
  color:#fff;
  border-top:1px solid #444;
  background:#444;
}

ul.main li a:focus {color:#fff; background:#666;}
ul.main li ul li a:hover {
  color:#fff;
  background:#555;
}
ul.main li:hover a {
  color:#fff;
  background:#555;
}
ul.main li:hover ul li a {color:#fff;}
ul.main li:hover ul li a:hover {color:#fff; background:#444;}
ul.main li:hover a:active {background:#444;}
ul.main li:hover ul li a:active {color:#fff; background:#222;}

/* Navigation tabs 
----------------------------------------------- */

ul.tabs {
	height: 20px;
	border-bottom:1px solid #006699;
}

ul.tabs li {
	background-color: #EEEEEE;
}

ul.tabs li a {
	height: 15px;
	padding-top: 4px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #006699;
	font-weight: normal;
	color: #999999;
	width: 100%;
}

ul.tabs li.active a {
	background-color: #006699;
	color: #FFFFFF;
	border: 1px solid #006699;
	font-weight: bold;
	width: 100%;
}
	