<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Mailbox" status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- Alle functionele logging en warnings naar Console -->
			<Filters>
				<MarkerFilter marker="FUNCTIONELE_LOG" onMatch="ACCEPT" onMismatch="NEUTRAL" />
				<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %marker %logger{36} - %msg%n" />
		</Console>

		<RollingRandomAccessFile name="Systeem-file" fileName="logs/systeem.log"
			filePattern="logs/systeem-%d{yyyy-MM-dd}-%i.log.gz">
 			<MarkerFilter marker="FUNCTIONELE_LOG" onMatch="DENY" onMismatch="ACCEPT" />
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="7" compressionLevel="9" />
		</RollingRandomAccessFile>

		<Async name="Systeem">
			<AppenderRef ref="Systeem-file" />
		</Async>

		<RollingRandomAccessFile name="Functioneel-file" fileName="logs/functioneel.log"
			filePattern="logs/functioneel-%d{yyyy-MM-dd}-%i.log.gz">
			<MarkerFilter marker="FUNCTIONELE_LOG" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" compressionLevel="9" />
		</RollingRandomAccessFile>

		<Async name="Functioneel">
			<AppenderRef ref="Functioneel-file" />
		</Async>

		<Syslog name="Logstash-syslog" format="RFC5424"
			host="logstash" port="5514" protocol="TCP" 
			connectTimeoutMillis="5000" reconnectionDelayMillis="5000" 
			facility="LOCAL0" messageId="log" newLine="true"
			mdcId="mdc" includeMDC="true"
			id="route" appName="MIGR-ROUTE" />
		
		<Async name="Logstash">
			<AppenderRef ref="Logstash-syslog"/>
		</Async>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Systeem" />
			<AppenderRef ref="Functioneel" />
			<AppenderRef ref="Logstash" />
		</Root>
		<Logger name="com.atomikos" level="WARN"/>
	</Loggers>

</Configuration>
