<style>

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 280px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 140px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  white-space: nowrap; /*whether to display in one line or not*/
}

</style>
<div class="container-fluid" ng-controller="matrixController" ng-init="matrix();">

	<div class="big"></div>

	<table id="matrix" class="table table-header-rotated" style="border-top-color: #fff;">
		<thead>
			<tr>
				<th style="border-top-color: #fff; border-left-color: #fff; border-right-color: #fff;"></th>
				<th style="border-top-color: #fff; border-left-color: #fff; border-right-color: #fff;" class="rotate-45" ng-init="column=$index" ng-repeat="k in data.fysiek track by $index"><div><span>{{ k.scenario }}</span></div></th>
			</tr>
		</thead>
		<tbody>
		
			<tr ng-repeat="n in data.logisch track by $index" ng-init="row=$index">
				<th class="row-header">{{ n }}</th>
				<td ng-repeat="k in data.fysiek track by $index" ng-click="click(n, $index);" ng-init="!tm[n][$index] ? tm[n][$index]='' : ''" class="blup">
					<h4 ng-if="tm[n][$index] == 'T'"><span class="label label-success">T</span></h4>
					<h4 ng-if="tm[n][$index] == 'B'"><span class="label label-primary">B</span></h4>
					<h4 ng-if="tm[n][$index] == ''"><span class="label"></span></h4>
				</td>
			</tr>
		</tbody>
	</table>
</div>