
<div class="container-fluid" ng-controller="overviewController" ng-init="list();">


	<div class="row">
		<div class="col-md-7"></div>
		<div class="col-md-5" ng-init="btn">
			<div class="pull-right row">
				<div class="col-md-5">				
					<a class="btn btn-lg btn-primary" ng-click="matrix();">
						Genereer matrix
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-striped table-condensed gradienttable">
				<thead>
					<th>Regel</th>
					<th>Beschrijving</th>
				</thead>
				<tbody>
					<tr ng-repeat="n in lijst" ng-click="open(n.regel);">
						<td>{{ n.regel }}</td>
						<td>{{ n.beschrijving }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>