/************************************************************************/
/* BRP Dashboard Bevraging styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
#actions {
	float: right;
	width: 30%;
	height:100%;
	border-left:3px solid #01689B;
}

#person {
	float:left;
	width:69%;
	height:100%;
}


html, body {
	font-family:Verdana, arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	height:100%;
	overflow: none;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
    padding: 0;
    margin: 0;
    display: block;
}

footer {clear:both;}
footer p {
    background:#233670;
    margin:0px;
    padding:0px;    
    text-align:center;
    color:#FFFFFF;
    z-index:100;
}

header h1 {padding:0px;margin:0px; background:#01689B;font-size:1.1em;color:#FFF;}

/* classes voor de panelen */
#person h3 {line-height:1.1em;background-color:#08A6B2;padding-top:4px; font-size:1em;}
/*6996AD*/
#person h3 {padding-left: 25px; cursor:pointer;border-bottom:2px solid #000; padding-bottom:4px; background: url("../images/arrows.png") no-repeat 0 -28px; display:block; text-decoration:none; margin:0; margin-top:2px;}  
#person h3 a {color:#FFF;text-decoration:none;}
#person .active {background-color: #01689B;  background-position: 0 5px; }
#person .inactive {background-color:#6996AD; }
#person table {width:100%;}
#person table td {border-spacing:2px;border-collapse: collapse;padding:0px;border:1px solid #fff;padding-left:4px; font-size:0.9em;}
#person table td:nth-child(odd){background-color:#0489B1; color:#fff;}
#person table td:nth-child(even){background-color:#EFEFEF;}

.label {font-weight:bold; width:30%; font-size:0.9em;}
.data {width:20%;}
.historietonen {width:16px;height:16px; float:right;padding:2px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.historie {margin-left:10px; background: url("../images/history.png") right center no-repeat !important; }
.historie .active {background-color: #0173AB !important;  background-position: 0 5px; }
.historie .inactive {background-color:#0489B1 !important; }
#adreshistorie {display:none;}
.historiesadres {width:20px;height:20px; padding:2px;}

.stadlogo-mini {
	clear:both;
	float:left;
    background-color:#FEFEFE;
    width:50px;
    padding:2px;
	
    vertical-align:middle;
}

img.berichttype-mini {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: left;
width: 40px;
position: relative;
vertical-align: middle;
padding:2px;
padding-right:10px;
}


.bericht-mini {
	font-size:0.9em;
	border-bottom:2px solid #999;
	padding-bottom:2px;
}

#footer {position:relative;clear:both;margin-left:auto;margin-right:auto;height:25px;margin-top:-25px}

#search {padding:4px; border-bottom:5px solid #01689B;}