/************************************************************************/
/* BRP Dashboard styles                                           */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
html, body {
	font-family:Verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #000;
	height:100%;
	overflow: none;
	min-width:1000px;
}

#wrapper {
	min-height: 748px;
	
}


/*HTML 5 specific*/
header,section,article,aside,footer{
	padding: 0;
    margin: 0;
	display: block;
}

header h1 {
	background:#233670;
	margin:0px;
	padding:0px;	
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
}

section{	
	margin:0px;
}

.notification-area {
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index:2;
	width:100%;
}

#messages{
    overflow:none;
	height: inherit;
	width: 1000px;
    margin: 0 auto;
   	display: table; 
}

.message {
padding:0px;
margin:0px;
}

.stadlogo-mini {
	background-color:#FEFEFE;
	width:80px;
	padding:5px;
	vertical-align:middle;
}

.timestamp {
float:right;
margin-right:2px;
font-style:italic;
}

span.timestamp {
display: block;
font-size: 0.8em;
padding:0px;
margin:0px;
padding-top: 0.1em;
color: #000;
}

.statistics-area {
	width: 30%;
	margin-right:40px;
	height: 200px;
	border-left: 2px dotted #b2a497;
	/*border: 1px solid #000055;	
	border-radius: 5px;
	box-shadow: 0px 0px 5px #000033;*/
}

.bericht {
	clear:both;
	float:none;
    width:inherit;
    color:#000; 
}

article.bericht:nth-child(odd)  {
	background-color:#CED8F6;
	  /*background-color: #CEE3F6;*/

}

.prevalidatie {
	float:left;
    width: 20px;
	vertical-align: left;
}

.meldingenAanwezig {
    /* color:#CC0000 !important; */
  
}
.legenda {
	width:700px;
	margin: 0px auto;
	float:right !important;
	color:#fff;
}

.legenda img { padding:2px;}

.melding {
    float:right;	
    vertical-align: left;
	padding:0px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.meldingstatus {
	float:left;
	width:20px;
	height:20px;
	vertical-align: left;
}

.padding-fix {
/*margin: 0 2px; */
padding: 0px;
}

img.stadlogo {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: left;
width:100%;
height:inherit;
position: relative;
vertical-align: middle;
/* border:1px solid #000;*/
display: table-cell;
}

figure {margin:0px; padding:0px;}

.berichtIndicatorLinks, .berichtIndicatorRechts {
    width:8%;
    height:inherit;
	padding:0px;
	margin: 5px;
	vertical-align: middle;
    display: table-cell;
   
}

.berichtIndicatorLinks {
    float:left;
	padding-right:4px;
}

.berichtIndicatorRechts {
    float:right;
}

.berichtIndicatorRechts img {
    float:right;
}
img.berichttype {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: right;
width: inherit;
position: relative;
vertical-align: middle;
width:100%;
}

span.stadnaam {
font-size: 1.1em;
font-weight:bold;
float:left;
}

.berichttekst {
float:left;
width:78%;
padding: 0px 0px;
margin-top: 5px;
font-size: 1em;
line-height: 1em;
word-wrap: break-word;
max-height:81px;
text-overflow: ellipsis;
overflow: hidden;
}

caption {color:#FEFEFE; font-weight:bold;}

#footer {position:relative;clear:both;margin-left:auto;margin-right:auto;height:25px;margin-top:-25px;}

footer p {
    background:#233670;
    margin:0px;
    padding:0px;    
    text-align:left;
    color:#FFFFFF;
    z-index:100;
}

#footerline {
    float:none;
    clear:both;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:25px;
    font-size:0.8em;
}
.clear {
  clear:both;
  height:2px;
}

.berichtstatus {
	float:left;
	width:3%;
	height:inherit;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
}

.berichtdetails {
text-overflow: ellipsis;
overflow: hidden;
}

.bericht
{
  position: relative;
  width: 98%;
  background-color: #81BEF7;

  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0.1em 0.1em;
 /* color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #333; */
  line-height: 1em;
  margin: 8px auto; /* ruimte tussen de berichten */
  vertical-align: middle;
  display: block;
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

}

/* schaduw onder */
.bericht2:before, .bericht2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 90%;
  top: 80%;
  max-width:500px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* schaduw rondingen */
.bericht2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.logo {
	padding:2px;
	height:20px;
}