<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %marker %logger{36} - %X - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
        </AsyncRoot>

        <AsyncLogger name="com.atomikos" level="WARN"/>
        <AsyncLogger name="org.springframework" level="WARN"/>
        <!--<AsyncLogger name="org.springframework.jdbc" level="DEBUG"/>-->
        <!--<AsyncLogger name="org.hibernate.SQL" level="DEBUG"/>-->
    </Loggers>
</Configuration>
