/************************************************************************/
/* BRP Statistieken styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
html, body {
	overflow-y:hidden;
	overflow-x:hidden;
}

#statistieken {
    margin:0px auto;
    text-align:center;
    min-height:740px;
}

#statistieken td {  padding: 0.75em; }

#statistieken tr.even {  background-color: #eee; }

.berichttype {
   height:100px;
   padding:15px;
}

.berichtsoort {
   height:150px;
   padding:10px;
}

.aantal {
    font-size:4em;
    text-align:center;
    font-weight:bold;
    vertical-align:middle;
}
