/************************************************************************/
/* BRP Dashboard Bevraging styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
#actions {
	float: right;
	width: 30%;
	height:100%;
	border-left:3px solid #01689B;
	min-height: inherit;
}

#person {
	float:left;
	width:69%;
	height:100%;
	min-height: inherit;
}
img.geslacht {height:30px;padding:5px;}
/* classes voor de panelen */
#person h3 {line-height:1.1em;background-color:#08A6B2;padding-top:4px; font-size:1em;-moz-border-radius: 4px;border-radius: 4px;}
/*6996AD*/
#person h3 {padding-left: 25px; cursor:pointer;border-bottom:2px solid #000; padding-bottom:4px; background: url("../images/arrows.png") no-repeat 0 -28px; display:block; text-decoration:none; margin:0; margin-top:2px;}  
#person h3 a {color:#FFF;text-decoration:none;}
#person .active {background-color: #01689B;  background-position: 0 5px; }
#person .inactive {background-color:#6996AD; }
#person table {width:100%;table-layout:fixed;}
#person table td {border-spacing:2px;border-collapse: collapse;padding:0px;border:1px solid #fff;padding-left:4px; font-size:0.9em;}
#person table td:nth-child(odd){background-color:#0489B1; color:#fff;}
#person table td:nth-child(even){background-color:#EFEFEF;}

.label {font-weight:bold; width:29%; font-size:0.9em;}
.data {width:21%;word-wrap: break-word;}
.historietonen {width:16px;height:16px; float:right;padding:2px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.historie {background: url("../images/history.png") right center no-repeat !important; }
.historie .active {background-color: #0173AB !important;  background-position: 0 5px; }
.historie .inactive {background-color:#0489B1 !important; }
#adreshistorie {display:none;}
.historiesadres {width:20px;height:20px; padding:2px;}

.stadlogo-mini {
	clear:both;
	float:left;
    background-color:#FEFEFE;
    width:50px;
    padding:2px;
	
    vertical-align:middle;
}

img.berichttype-mini {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    width: 40px;
    position: relative;
    vertical-align: middle;
    padding:2px;
    padding-right:10px;
}


.bericht-mini {
	font-size:0.9em;
	border-bottom:2px solid #999;
	padding-bottom:2px;
	min-height:98px;
}

.bericht-details-knop {
	float:right;
	width:20px;
	padding:2px;
}

.berichtdetails {
	display:none;
}

.bericht {margin-left:52px; height:100%;}

#search {padding:4px; border-bottom:5px solid #01689B;}

.logo {
	padding:2px;
	height:20px;
}

/* zorg voor een niet te lange autocomplete dropdown en een scrollbar */
.ui-autocomplete {
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 300px;
	}

	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }