<div dashboard="dashboardOptions" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Totaal</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="dataTotal" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Initi&euml;le vulling</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['IV']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Terugconversie</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['TC']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M01 SQL</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M01-SQL']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M01 GBA</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M01-GBA']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M01 BRP</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M01-BRP']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M02 SQL</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M02-SQL']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M02 GBA</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M02-GBA']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">M02 BRP</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-doughnut" data="data['M02-BRP']" labels="labels" options="options" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>