<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level [%file:%line] %msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="nl.bzk.brp.whitebox.vulling" level="debug" />
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>