                    <element ref="brp:datumAanvangGeldigheid" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:actieAanpassingGeldigheid" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:datumEindeGeldigheid" minOccurs="0" maxOccurs="1" />