                    <element ref="brp:tijdstipRegistratie" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:actieInhoud" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:tijdstipVerval" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:actieVerval" minOccurs="0" maxOccurs="1" />
                    <element ref="brp:nadereAanduidingVerval" minOccurs="0" maxOccurs="1" />
