<!doctype html>
<html lang="en" ng-app="beheerApp">
    <head>
        <meta charset="utf-8">
        <title>BRP Beheer applicatie</title>
        <link rel="stylesheet" href="ea/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="ea/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="ea/angular-bootstrap-datetimepicker/css/datetimepicker.css"/>
        <link rel="stylesheet" href="css/beheer.css"/>
        <link rel="stylesheet" href="ea/angular-loading-bar/build/loading-bar.min.css"/>
        <link rel="stylesheet" href="ea/angular-ui-select/select.min.css"/>

        <script type="text/javascript" src="ea/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="ea/bootstrap/dist/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="ea/angular/angular.min.js"></script>
        <script type="text/javascript" src="ea/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="ea/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="ea/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="ea/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="ea/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="ea/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="ea/angular-bootstrap-datetimepicker/js/datetimepicker.js"></script>
        <script type="text/javascript" src="ea/angular-loading-bar/build/loading-bar.min.js"></script>
        <script type="text/javascript" src="ea/angular-ui-select/select.min.js"></script>

        <script type="text/javascript" src="js/utils/json-toon.js"></script>
        <script type="text/javascript" src="js/directives/Keybind.js"></script>
        <script type="text/javascript" src="js/directives/BrpLijstveld.js"></script>
        <script type="text/javascript" src="js/directives/BrpVeld.js"></script>
        <script type="text/javascript" src="js/directives/BrpZoekveld.js"></script>
        <script type="text/javascript" src="js/directives/DatumFormats.js"></script>

        <script type="text/javascript" src="js/services/AuthenticationService.js"></script>
        <script type="text/javascript" src="js/services/Base64Service.js"></script>

        <script type="text/javascript" src="js/controllers/InfoController.js"></script>
        <script type="text/javascript" src="js/controllers/ItemController.js"></script>
        <script type="text/javascript" src="js/controllers/ItemInstanceController.js"></script>
        <script type="text/javascript" src="js/controllers/ItemJsonController.js"></script>
        <script type="text/javascript" src="js/controllers/ListController.js"></script>
        <script type="text/javascript" src="js/controllers/Lo3FilterRubriekInstanceController.js"></script>
        <script type="text/javascript" src="js/controllers/SecurityController.js"></script>

        <script type="text/javascript" src="js/beheer-applicatie.js"></script>
        <script type="text/javascript" src="conf/beheer-settings.js"></script>

        <script type="text/javascript" src="js/configuration/beheer-security.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-autaut.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-ber.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-brm.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-conv.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-ist.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-kern.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-migblok.js"></script>
        <script type="text/javascript" src="js/configuration/beheer-configuratie-verconv.js"></script>
    </head>
    <body ng-cloak data-ng-controller="SecurityController">
        <div class="container-fluid">

            <!-- Navigatie -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand  -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/" title="versie {{versie}}" > BRP Beheer Applicatie</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" ng-show="hasRole('ROLE_BRP-GB')">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Raadplegen</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/persoon/list/">Personen</a></li>
                                    <li><a href="#/administratievehandelingen/">Administratieve Handelingen</a></li>
                                    <li><a href="#/bericht/list/">Berichten</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav" ng-show="hasRole('ROLE_BRP-FB')">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Autorisaties</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/partijen/">Partij</a></li>
                                    <li><a href="#/partijrollen/">Partijrol</a></li>
                                    <li><a href="#/abonnementen/">Abonnement</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav" ng-show="hasRole('ROLE_BRP-FB')">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stamgegevens</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Autorisatie (AutAut)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/aanduidingmedium/list/">Aanduiding Medium</a></li>
                                            <li><a href="#/effectafnemerindicaties/list/">Effect Afnemerindicaties</a></li>
                                            <li><a href="#/functie/list/">Functie</a></li>
                                            <li><a href="#/protocolleringsniveau/list/">Protocolleringsniveau</a></li>
                                            <li><a href="#/soortautorisatiebesluit/list/">Soort Autorisatiebesluit</a></li>
                                            <li><a href="#/soortbevoegdheid/list/">Soort Bevoegdheid</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Berichten (Ber)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/bijhoudingsresultaat/list/">Bijhoudingsresultaat</a></li>
                                            <li><a href="#/bijhoudingssituatie/list/">Bijhoudingssituatie</a></li>
                                            <li><a href="#/historievorm/list/">Historievorm</a></li>
                                            <li><a href="#/richting/list/">Richting</a></li>
                                            <li><a href="#/soortbericht/list/">Soort Bericht</a></li>
                                            <li><a href="#/soortmelding/list/">Soort Melding</a></li>
                                            <li><a href="#/soortsynchronisatie/list/">Soort Synchronisatie</a></li>
                                            <li><a href="#/verwerkingsresultaat/list/">Verwerkingsresultaat</a></li>
                                            <li><a href="#/verwerkingswijze/list/">Verwerkingswijze</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">BRM (Brm)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/regeleffect/list/">Regeleffect</a></li>
                                            <li><a href="#/regelsituatie/list/">Regelsituatie</a></li>
                                            <li><a href="#/regelsoortbericht/list/">Soort Bericht</a></li>
                                            <li><a href="#/soortregel/list/">Soort Regel</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Conversie (Conv)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/conversieaanduidinginhoudingvermissingreisdocument/list/">Conversie Aanduiding Inhouding Vermissing Reisdocument</a></li>
                                            <li><a href="#/conversieaangifteadreshouding/list/">Conversie Aangifte Adreshouding</a></li>
                                            <li><a href="#/conversieadellijketitelpredikaat/list/">Conversie Adellijke Titel/Predikaat</a></li>
                                            <li><a href="#/conversielo3rubriek/list/">Conversie LO3 Rubriek</a></li>
                                            <li><a href="#/conversieredenbeeindigennationaliteit/list">Conversie Reden Be&euml;indigen Nationaliteit</a></li>
                                            <li><a href="#/conversieredenopnamenationaliteit/list">Conversie Reden Opname Nationaliteit</a></li>
                                            <li><a href="#/conversieredenontbindinghuwelijkgeregistreerdpartnerschap/list/">Conversie Reden Ontbinding Huwelijk/Geregistreerd Partnerschap</a></li>
                                            <li><a href="#/conversieredenopschorting/list/">Conversie Reden Opschorting</a></li>
                                            <li><a href="#/conversiernideelnemer/list/">Conversie RNI Deelnemer</a></li>
                                            <li><a href="#/conversiesoortnlreisdocument/list/">Conversie Soort NL Reisdocument</a></li>
                                            <li><a href="#/conversievoorvoegsel/list/">Conversie Voorvoegsel</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Kern-gegevens (Kern)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/aanduidinginhoudingvermissingreisdocument/list/">Aanduiding Inhouding/Vermissing Reisdocument</a></li>
                                            <li><a href="#/aanduidingverblijfsrecht/list/">Aanduiding Verblijfsrecht</a></li>
                                            <li><a href="#/aangever/list/">Aangever</a></li>
                                            <li><a href="#/adellijketitel/list/">Adellijke Titel</a></li>
                                            <li><a href="#/autoriteittypevanafgiftereisdocument/list/">Autoriteittype van Afgifte Reisdocument</a></li>
                                            <li><a href="#/bijhoudingsaard/list/">Bijhoudingsaard</a></li>
                                            <li><a href="#/burgerzakenmodule/list/">Burgerzaken Module</a></li>
                                            <li><a href="#/categorieadministratievehandeling/list/">Categorie Administratieve Handeling</a></li>
                                            <li><a href="#/element/list/">Element</a></li>
                                            <li><a href="#/functieadres/list/">Functie Adres</a></li>
                                            <li><a href="#/gemeente/list/">Gemeente</a></li>
                                            <li><a href="#/geslachtsaanduiding/list/">Geslachtsaanduiding</a></li>
                                            <li><a href="#/landgebied/list/">Land/Gebied</a></li>
                                            <li><a href="#/naamgebruik/list/">Naamgebruik</a></li>
                                            <li><a href="#/naderebijhoudingsaard/list/">Nadere Bijhoudingsaard</a></li>
                                            <li><a href="#/nationaliteit/list/">Nationaliteit</a></li>
                                            <li><a href="#/plaats/list/">Plaats</a></li>
                                            <li><a href="#/predicaat/list/">Predicaat</a></li>
                                            <li><a href="#/rechtsgrond/list/">Rechtsgrond</a></li>
                                            <li><a href="#/redeneinderelatie/list/">Reden Einde Relatie</a></li>
                                            <li><a href="#/redenverkrijgingnlnationaliteit/list/">Reden Verkrijging NL Nationaliteit</a></li>
                                            <li><a href="#/redenverliesnlnationaliteit/list/">Reden Verlies NL Nationaliteit</a></li>
                                            <li><a href="#/redenwijzigingverblijf/list/">Reden Wijziging Verblijf</a></li>
                                            <li><a href="#/regel/list/">Regel</a></li>
                                            <li><a href="#/rol/list/">Rol</a></li>
                                            <li><a href="#/soortactie/list/">Soort Actie</a></li>
                                            <li><a href="#/soortadministratievehandeling/list/">Soort Administratieve Handeling</a></li>
                                            <li><a href="#/soortbetrokkenheid/list/">Soort Betrokkenheid</a></li>
                                            <li><a href="#/soortdocument/list/">Soort Document</a></li>
                                            <li><a href="#/soortelement/list/">Soort Element</a></li>
                                            <li><a href="#/soortelementautorisatie/list/">Soort Element Autorisatie</a></li>
                                            <li><a href="#/soortindicatie/list/">Soort Indicatie</a></li>
                                            <li><a href="#/soortmigratie/list/">Soort Migratie</a></li>
                                            <li><a href="#/soortnederlandsreisdocument/list/">Soort Nederlands Reisdocument</a></li>
                                            <li><a href="#/soortpartij/list/">Soort Partij</a></li>
                                            <li><a href="#/soortpartijonderzoek/list/">Soort Partij \ Onderzoek</a></li>
                                            <li><a href="#/soortpersoon/list/">Soort Persoon</a></li>
                                            <li><a href="#/soortpersoononderzoek/list/">Soort Persoon \ Onderzoek</a></li>
                                            <li><a href="#/soortrechtsgrond/list/">Soort Rechtsgrond</a></li>
                                            <li><a href="#/soortrelatie/list/">Soort Relatie</a></li>
                                            <li><a href="#/statusonderzoek/list/">Status Onderzoek</a></li>
                                            <li><a href="#/statusterugmelding/list/">Status Terugmelding</a></li>
                                            <li><a href="#/voorvoegsel/list/">Voorvoegsel</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Migratie Blokkering (Migblok)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/redenblokkering/list/">Reden Blokkering</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown dropdown-submenu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Verantwoording Conversie (Verconv)</a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#/lo3berichtenbron/list/">LO3 Berichten Bron</a></li>
                                            <li><a href="#/lo3categoriemelding/list/">LO3 Categorie Melding</a></li>
                                            <li><a href="#/lo3severity/list/">LO3 Severity</a></li>
                                            <li><a href="#/lo3soortaanduidingouder/list/">LO3 Soort Aanduiding Ouder</a></li>
                                            <li><a href="#/lo3soortmelding/list/">LO3 Soort Melding</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- li class="dropdown">
                                <a href="">Gegevens Definitie</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#/databaseobjectautaut/list">Database Object Autorisatie</a></li>
                                    <li><a href="#/databaseobjectkern/list">Database Object Kern-gegevens</a></li>
                                    <li><a href="#/databaseobjectlev/list">Database Object Levering</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#/element/list">Elementen</a></li>
                                </ul>
                            </li -->

                        </ul>

                        <ul class="nav navbar-nav navbar-right" ng-hide="user">
                            <li><a href="#/login" >Aanmelden</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-show="user">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/versie/details">Versie</a></li>
                                    <li class="divider"></li>
                                    <li><a data-ng-click="logout()">Afmelden</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- div ng-show="busyIndicator" class="busy-indicator">
            	<div class="alert alert-info" role="alert">
            		<img src="img/working.gif" /> Nog bezig met (asynchroon) gegevens ophalen ({{busyCounter}} verzoek(en) nog in uitvoering) ...
            	</div>
            </div -->

            <div data-ng-show="informatieBeschikbaar()" ng-controller="InfoController">
                <alert ng-repeat="info in informatie" type="{{info.type}}" close="infoWissen($index)">
                    {{info.message}}
                </alert>
            </div>

            <div class="row">
                <div class="col-md-12" ng-view></div>
            </div>
        </div>

        <!-- Core Bootstrap  -->
        <!-- script type="text/javascript" src="ea/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="ea/bootstrap/dist/js/bootstrap.min.js"></script -->

        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                        event.preventDefault();
                        event.stopPropagation();
                        $(this).parent().siblings().removeClass('open');
                        $(this).parent().toggleClass('open');
                    });
                });
            })(jQuery);
        </script>
    </body>
</html>
