<div ng-controller="ItemController" ng-if="!lijstZichtbaar && !jsonZichtbaar && user">
    <div ng-form="editHoofdForm" class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div ng-switch="status.nieuw">
                    <div ng-switch-default>
                        <h4 class="panel-title" ng-if="readonly">{{titel}}</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="column in columns">
                    <div class="form-group clearrow">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <label class="text-left control-label">{{column.name}}</label>
                        </div>
                        <div class="col-md-{{column.breedte}} col-sm-8 col-xs-12">
                            <brp-veld kolom="{{column}}" waarde="onderhandenitem.item" itemstatus="status"></brp-veld>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 btn-group btn-group-sm"">
                        <a onClick="javascript:window.history.back();" class="btn btn-default">Sluiten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
