[ req ] 
distinguished_name     = req_distinguished_name 
prompt                 = no

[ req_distinguished_name ] 
O = Kern Soap Client Organization
OU = Kern Soap Client Organization Unit Name
emailAddress = bashuisman@lostlemon.nl
C = NL
ST = Zuid-Holland
L = Den Haag
CN = Client Common Name

[ x509_extensions ]
basicConstraints 	= critical,CA:FALSE
keyUsage=digitalSignature,keyEncipherment,dataEncipherment,keyAgreement
extendedKeyUsage=serverAuth,clientAuth
