<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="poc-berichtenverwerker">
    	<jar-file>WEB-INF/lib/model-0.0.1-SNAPSHOT.jar</jar-file>
        <properties>
            <property name="hibernate.default_schema" value="kern" />
            <property name="hibernate.archive.autodetection" value="class, hbm"/>
        </properties>
    </persistence-unit>

</persistence>
