/** 
 * print.css 
 * 
 * Gives some sensible styles for printing pages.
 * 
 * @version			1.1.0
 * @date			2009-08-28
 * @lastmodified	2009-10-12 14:34
 * @author			Studio Dumbar (Jonathan van Wunnik)
 * @project			Starters Kit Rijksoverheid
 * @link			http://www.website.com
 * @cssdoc			version 1.0-pre
 *
 */


/** 
 * Layout 
 * 
 * @section			Hide parts, turn of background images, etc.
 */

body, .container { background: none; }
hr { background: #ccc; border: none; color: #ccc; height: 2px; margin: 2em 0; padding: 0; width: 100%; }

.skiplink,
.nav_main,
.nav_sub,
.func_links,
.search,
.footer,
.nav_page,
.hide { display: none; }


/** 
 * Text 
 * 
 * @section			Text definitions for nice printing
 */

body { color: #000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10pt; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }
code { font-family: "Courier New", Monaco, Courier, monospace; font-size: 0.9em; } 

img { float: left; margin: 0.9em 1.5em 0.9em 0; }
a img { border: none; }

ul, ol { list-style-position: inside; }

blockquote { font-style: italic; font-size: 0.9em; margin: 1.5em; padding: 1em; }


/** 
 * Links 
 * 
 * @section			Styling of links (anchors) in print
 */
/*
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline; }

a:link:after,
a:visited:after { content: " (" attr(href) ") "; font-size: 90%; }
*/
.branding a:link:after,
.branding a:visited:after,
.breadcrumb a:link:after,
.breadcrumb a:visited:after,
.anchors a:link:after,
.anchors a:visited:after { content: ""; }

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */
/* a[href^="/"]:after { content: " (http://www.yourdomain.com" attr(href) ") "; } */


/** 
 * Tables 
 * 
 * @section			Basic table styling for print
 */

/*table { border: 1px solid #000; }*/
th, td { border: 1px solid #999; }
th, td { padding: 0.2em; }

/** 
 * Specific elements 
 * 
 * @section			Specificially styled for print
 */

.header { text-align: center; width: 100%; }

.branding a,
.branding img,
.branding { float: none; text-decoration: none; }

.breadcrumb { font-size: 0.9em; font-style: italic; margin-top: 2em; }
.caption { clear: left; font-size: 0.9em; font-style: italic; margin-top: 0; }

.mod, .unit { clear: left; }

.full img,
.banner img { float: none; margin: 0; padding: 0; }
.banner { border: 0.2em solid #000; margin-bottom: 1.5em; padding: 1em; }

.popup { position: relative !important; left: 0px !important; top: 0px !important; }