/** 
 * ie7.css
 * 
 * Internet Explorer specific and only styles
 * containing every hack for Internet Explorer necessary,
 * so that all other (core) files stay sweet and nimble.
 * 
 * @version			1.0.1
 * @date			2009-08-28
 * @lastmodified	2009-11-24 15:47
 * @author			Studio Dumbar (Jonathan van Wunnik)
 * @project			Starters Kit Rijksoverheid
 * @link			http://www.website.com
 * @cssdoc			version 1.0-pre
 *
 */


/** 
 * IE styles
 * 
 * @section			IE7 (and lower) specific style definitions
 */

/* Make sure the layout is centered in IE5 */
body { text-align: center; }
.container { text-align: left; }

/* Give "layout" to all elements (fixes many IE6 layout issues; see http://www.satzansatz.de/cssd/onhavinglayout.html) */
.container, .header, .header, .header span, .footer, .footer span,
.content, .content_main, .content_supp, .content_sub, .nav_sub,
.line, .last_unit, .box, .list_sitemap, .list_sitemap ul { overflow: visible; zoom: 1; }

.unit { zoom: 1; }
.last_unit { margin-right: -3px; position: relative; left: -3px; }

/* Fixes IE7 7px gap of left content_main side. */
html>body#content .content_main { *margin-left: -7px; }

/* Fixes issue with 'tong' - in IE6/7 tong does not start just right from the middle! */
.tong { margin-left: 0; }

/* Fixes issue with not showing arrows in front of links in link lists */
.content ul { position: relative; }
.content ul li { overflow: visible; zoom: 1; }

/* Fixes incorrect placement of ol numbers in IE6/7 */
ol { margin-left: 2.8em; }
.search_results { padding-left: 2.9em; }

/* Fixes wrong line-height on sup/sub in IE */
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

/* Fixes IE7 missing wrapping of code elements. */
html>body p code { *white-space: normal; }

/* Fixes incorrect styling of form elements in IE6/7 */
form legend { margin: 0 0 0 -7px; }
form input.submit { font-size: 1em; padding: 0.1em 0.4em; }
form.form_ll input.submit { left: 13.4em; }
form.search_box label { display: inline; vertical-align: baseline; width: auto; }
form.search_box input.text { padding-bottom: 0; padding-top: 0.3em; width: 23.9em; }
form.search_box input.submit { padding: 0.1em 0.4em; left: 0; }

/* Fixes 'line wrapping text in legend element' (http://www.456bereastreet.com/archive/200905/line_wrapping_text_in_legend_elements/) */
legend, legend span { float: left; }
fieldset ol { clear: both; }

/* Fixes IE6/7 global search input and button height */
.search { width: 17.5em; top: 1.2em; right: 5.7em; }
.search.centered { top: 1.7em; }
.search input.text { padding: 0.1em; }
.search form input.submit { height: 19px; line-height: 1; padding: 0; }

/* IE6/7 has problems with setting proper margins and/or paddings. */
.visual img { margin-bottom: -26px; }
.mod.three_col div img { margin-bottom: -10px; margin-left: 1px; }

/* Fixes a strange issue of a dissapearing right hand border shadow in IE7 for the login page */
html>body#login .content_wrapper2 { *border-top: 1px solid #fff; }

/* IE6/7 image replacement fix on anchor and butten elements */
.branding a.imgreplacement,
button.imgreplacement { display: block; }

.func_links a.minus { background-position: left 3px; height: 15px; }
.func_links a.plus { background-position: left -34px; height: 15px; }