/*
 * Volledige pagina-breedte in huisstijl
 */
/*
.container {
    margin: 0px;
    width: 100%;
    max-width: 100%;
}

.container,
.header,
.footer,
.content_wrapper1,
.header span,
.footer span {
    background: none;
}

.header .branding,
.footer,
.content_wrapper2,
body {
    background: white;
}

.content_wrapper2 {
    margin: 0px;
}

div.header {
    padding: 0px;
}

body {
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url(../../images/RO_Footer_Homepage.png) no-repeat fixed center bottom;
    margin-top: -1px;
}

.content {
    margin-bottom: 75px;
    padding-bottom: 75px;
    position: static;
}
*/

/*
 * Ondersteuning voor applicatie-titelbalk
 */
.content_wrapper2 {
    padding-top: 50px;
}

.nav_main {
    min-height: 24px;
}

div.overzicht.titel,div.sectie.titel,div.supersectie.titel {
    text-align: left;
}

.plusmincontainer {
	float: left;
	padding-top: 2px;
}

/* .persoonslijsten */
div.sectie.titel .plusmincontainer {
	padding-left: 21px;
	padding-right: 3px;
}

.popup th {
	padding-left: 32px;
	padding-top: 3px;
	padding-bottom: 5px;
}

span.code,span.label {
    position: static;
}

/*
 * Override rijkshuisstijl voor zoek form
 */
#inputZoeken form.form_ll input.text,
#inputZoeken form.form_ll textarea  {
    width: 10.2em;
    padding: 0px;
    height: 1.7em;
    line-height: 1.5;
}

#inputZoeken form.form_ll input.submit {
    position: relative;
    left: 3.4em;
    background: #FFFFFF;
}
form input.submit {
    padding: 0.1em 1em;
}

.upload {
    display: inline-block;
    position: absolute;
    padding-left: 4px;
}

/*
 * Verticale weergave
 */
.persoonslijsten {
    display: table;
    /*table-layout: fixed;*/
    width: 100%;
    margin-bottom: 5px;
}

.lo3Column,.teruggeconverteerdColumn,.brpColumn {
    display: table-cell;
    vertical-align: top;
}

table {
    table-layout: fixed;
}

.persoonslijsten table,.popup table { /*   width: 100%;*/
    width: 436px;
}

.controles table {
    width: 892px;
}

.controles th {
    padding: 0px;
}
.controles td {
    padding: 3px 5px 3px 5px;
    white-space: normal;
}
/*
.persoonslijsten tr {
    width: 217px;
}
*/
tr.headers {
    width: 434px;
}

th,td {
    border-top: 2px solid white;    
    border-right: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1em;
    text-align: left;
    /* min-height: 23px; */
    background-color: #f5f5f5;
    padding: 0px 0px 0px 5px;
    vertical-align: middle;
}

th:last-child,td:last-child {
    border-right: 0px none;
	}

.persoonslijsten th,.persoonslijsten td {
    min-width: 203px;
    width: 203px;
}

.code { 
    display: inline-block;
    padding: 3px 5px 5px 0px;
}

.label,
.info { 
    padding: 3px 7px 5px 5px;
}

.lo3Column .code,
.teruggeconverteerdColumn .code {
    border-right: solid 2px white;
    width: 33px;
}

span.titeltekst {
    display: inline-block;
    padding: 3px 7px 5px 5px;
}

.supersectie span.titeltekst {
	width: 191px;
}

.popup .supersectie span.titeltekst {
	width: 185px;
}

.overzicht>span.titeltekst {
    font-weight: bold;
}

.lo3Column .sectie span.titeltekst,
.teruggeconverteerdColumn .sectie span.titeltekst,
.brpColumn .sectie span.titeltekst {
    padding: 0px 5px 0px 0px;
    width: 173px;
}

.popup .sectie span.titeltekst {
    width: 185px;
}

.persoonslijsten th {
    padding-left: 50px;
    width: 175px;
    min-width: 175px;
}

.popup .sectie span.label {
	padding-left: 23px;
}

.persoonslijsten .nivo1 th {
    padding-left: 30px;
    width: 195px;
}

.popup .label,
.popup .info,
.popup .code {
	padding: 0px;
}

div.titel,.controles div.titel {
    padding: 0px 5px 0px 5px;
}

.controles div.overzicht.titel {
    width: 882px;
}

.persoonslijsten div.titel {
    width: 426px;
}

.hide {
    display: none;
}

.hoofdtitelbalk {
    min-height: 27px;
}

/*
 * Dynamische eigenschappen
 */

div.titel {
    cursor: pointer;
}

/* Open/sluit */
div.titel .plusmin {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../../images/plusmin.gif) -11px 0px;
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
}

div.titel:hover .plusmin {
    background: url(../../images/plusmin.gif) -33px 0px;
}

.gesloten>.titel .plusmin {
    background: url(../../images/plusmin.gif) 0px 0px;
}

.gesloten>.titel:hover .plusmin {
    background: url(../../images/plusmin.gif) -22px 0px;
}

.gesloten>.inhoud {
    display: none;
}

/* Selecteer checkbox */
div.sectie.titel .selecteer,
div.supersectie.titel .selecteer {
    display: inline-block;
    float: right;
    border-left: 2px solid white;
    padding: 3px 1px 5px 5px;
}

div.sectie.titel .selecteer .checkbox,
div.supersectie.titel .selecteer .checkbox,
.controles .sectie .checkbox {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../../images/checkboxes.png) 0px 0px;
    vertical-align: middle;
    cursor: pointer;
}

div.sectie.titel.highlight .selecteer .checkbox,
div.supersectie.titel.highlight .selecteer .checkbox,
.controles .sectie .highlight .checkbox {
    background: url(../../images/checkboxes.png) -13px 0px;
}

.controles .sectie .checkbox.disabled {
    background: url(../../images/checkboxes.png) -26px 0px;
    cursor: default;
}

.lo3Column .highlightmelding,
.highlightmelding th,
.highlightmelding td
    {
    background-color: #f2d9e7;
}

.lo3Column .highlightvergelijking,
.teruggeconverteerdColumn .highlightvergelijking,
.highlightvergelijking th,
.highlightvergelijking td
    {
    background-color: #f2d9e7;
}

.highlight,.highlight th,.highlight td {
    font-weight: bold;
}

.lo3Column div.overzicht.titel .selecteer .arrow {
    display: inline-block;
    background: url(../../images/arrow_right.png);
    width: 16px;
    height: 11px;
    vertical-align: middle;
    float: right;
    margin-top: 6px;
}

.brpColumn div.overzicht.titel .selecteer .arrow {
    display: inline-block;
    background: url(../../images/arrow_left.png);
    width: 16px;
    height: 11px;
    vertical-align: middle;
    float: right;
    margin-top: 6px;
}

.controles div.overzicht.titel .selecteer .arrow {
    display: inline-block;
    background: url(../../images/arrow_up.png);
    width: 11px;
    height: 16px;
    vertical-align: middle;
    float: right;
    margin-top: 3px;
}

.teruggeconverteerdColumn div.overzicht.titel .selecteer .arrow {
    display: inline-block;
    background: url(../../images/arrow_left_terugconv.png);
    width: 16px;
    height: 11px;
    vertical-align: middle;
    float: right;
    margin-top: 6px;
}
/*
 * Koppen tabel-achtige eigenschappen geven + uitlijnen
 */
.persoon {
    margin-bottom: 40px;
}

.hoofdtitelbalk {
    margin-bottom: 10px;
}

.controles>div.overzicht {
    margin-top: 20px;
}

.hoofdtitelbalk {
    margin-right: 20px; /* +4 die elders in de padding zitten */
}

.hoofdtitelbalk {
    border-top: 1px solid white;
    border-bottom: 2px solid lightgray;
    clear: both;
}

/* override h2 */
#home .hoofdtitelbalk .volledigenaam h2 {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Arial, sans-serif;
}

.buttons {
    cursor: pointer;
    vertical-align: top;
}

.loading-spinner {
    display: none;
    background: url("../fineuploader/loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    margin-top: 3px;
    float: right;
}

.overzicht.titel {
    background-color: #deeff6;
}

.teruggeconverteerdColumn .overzicht.titel {
    background-color: #046f96;
    color: #FFFFFF;
}

.controles div.titel span.titeltekst {
    font-weight: bold;
}

div.titel, th.header, .controles th {
    background-color: #e1e1e1;
    border-top: 2px solid white;
    /* border-bottom: 1px solid white; */
}

/*
 * Header meldingen/vergelijkingen
 */
.controles th {
    padding: 3px 5px 5px 5px;
    font-weight: bold;
    text-align: left; 
}

.controles th.checkboxTd {
    padding: 3px 0px 5px 0px;
}

.controles th.header {
    background-image: url(../../images/sort_arrow_down_up.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.controles th.headerSortUp {
    background-image: url(../../images/sort_arrow_up.png);
}

.controles th.headerSortDown {
    background-image: url(../../images/sort_arrow_down.png);
}

.severity {
	display: inline-block;
	width: 10px;
	height: 9px;
	margin-right: 5px;
	background-color: #046f96;
	background: url(../../images/meldingen.gif);
}

.severity_error {
	background-color: #a90061;
	background: url(../../images/meldingen.gif) 10px 0px;
}

.severity_warning {
	background-color: #ffb612;
	background: url(../../images/meldingen.gif) 20px 0px;
}

.legenda {
	margin-top: 10px;
}
/*
 * Scrollen binnen persoonslijsten
 */
.overzicht.inhoud {
    overflow-x: hidden;
    overflow-y: auto;
}

.persoonslijsten .overzicht.overall {
    width: 450px;
}

.persoonslijsten .overzicht.inhoud {
    max-height: 400px;
}

.controles .overzicht.inhoud {
    width: 905px;
}

.overzicht.titel {
    position: relative;
    top: 0px;
}

/*
 * Algemene zaken + overriden onzin
 */
table {
    margin: 0px;
    border-spacing: 0px;
}

#switch {
    margin-top: -64px;
}

#switch li {
    float: left;
    padding-right: 20px;
}

.input_area {
    display: inline-block;
    vertical-align: top;
    width: 454px;
}

.resultaat_index {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 83px;
    width: 436px;
}

.resultaat_index th {
    padding-left: 9px;
    border-left: 0px;
}

.resultaat_index .volledigenaam {
    display: inline;
    max-width: 350px;
}

.resultaat_index div.sectie.titel {
    padding-left: 3px;
}

div.resultaat_index div.titel .plusmin {
    margin-right: 9px;
}

.content_area {
    margin-top: 30px;
}

.resultaatOK {
    background-color: #4e9625;
}

.resultaatOKMsg {
    background-color: #ffb612;
}

.resultaatNOK {
    background-color: #a90061;
}

/* PL buttons */
.plbutton {
    border: 1px solid #000000;
    background-color: #deebe3;
    font-size: 11px;
    font-family: "verdana";
}

.plbutton.closePopup {
    background-color: #FFFFFF;
}

.button_container {
    margin-left: 4px;
}

.buttons {
    float: right;
}

.volledigenaam,.volledigenaam h2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.kleurblok {
    display: inline-block;
    width: 15px;
    margin: 4px 3px 4px 3px;
}

.conversie_mislukt {
    background-color: #F2D9E7;
    display: inline-block;
    padding-left: 4px;
    vertical-align: middle;
    margin: 1px 0px;
}

.persoonslijsten .conversie_mislukt {
    width: 432px;
}

.controles .conversie_mislukt {
    width: 888px;
}

.melding {
    display: inline-block;
    margin-left: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}

.persoonslijsten .melding {
    width: 400px;
}

a:focus,.submit:focus,.plbutton,.qq-upload-button {
    outline: none;
}

a:visited {
    color: #154273;
}

.popup {
    background-color: white;
    border: solid 2px #046f96;
    padding: 5px;
    width: 437px;
    z-index: 100;
}

.popup .volledigenaam {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    max-width: 350px;
}

.popup div.sectie.titel {
    width: 427px;
}

.popup div.sectie.titel .selecteer {
    display: none;
}

.popuptitelbalk {
    height: 22px;
    padding-top: 5px;
    padding-right: 5px;
    background-color: #deeff6;
    vertical-align: middle;
    cursor: move;
}

.popupcontent {
	max-height: 400px;
	overflow-x: hidden;
    overflow-y: auto;
}

button {
    cursor: pointer;
}

a.actie:before,
a.onderzoek:before {
    content: "> ";
}

.checkboxTd {
    width: 25px;
}

.smallTd {
    width: 130px;
}

.smallerTd {
    width: 80px;
}

.aantal {
    width: 25px;
    text-align: center;
}


div.sectie.vervallen {
    color: gray;
}

.datumVan, .datumTot {
    white-space: normal; 
    width: 100px; 
    display: inline-block; 
    border-right: 2px solid white;
    padding: 4px 0px;
}

#inputZoeken .message_err,
#inputZoeken .message_info {
    margin: 0px 20px 2px 0px;
    word-wrap: break-word;
}

.field_err {
    outline: 0.2em solid #e70022 !important;
}

/*
 * Tabs voor terugconversie
 */

.getabd div.overzicht.titel .selecteer .arrow {
    background: url(../../images/arrow_left_terugconv.png);
}

.getabd div.overzicht.titel {
	background: #046f96;
	border-bottom: solid 4px #deeff6;
}

.hoger div.overzicht.titel, 
.getabd div.overzicht.titel {
	padding-top: 4px;
}

.getabd div.overzicht.titel > span.plusmincontainer {
	padding-right: 5px;
	padding-top: 1px;
}

/* Werkt alle plusmin bij aan de brp kan bij een hover over titeltekst of info
.getabd .titeltekst:hover ~ span.plusmincontainer .plusmin,
.getabd .info:hover ~ span.plusmincontainer .plusmin {
    background: url(../../images/plusmin.gif) -11px 0px;
}
*/

.getabd .overzicht>.titeltekst:hover,
.getabd .overzicht>.info:hover {
    background-color: #deeff6;
    color: black !important;
}

.teruggeconverteerdColumn div.overzicht.titel span.titeltekst {
	color: white;
	padding-bottom: 3px;
}

.teruggeconverteerdColumn div.overzicht.titel span.info {
	display: inline-block;
	background: #deeff6;
	color: black;
	font-weight: bold;
	padding-bottom: 3px;
}

.brpColumn .getabd div.overzicht.titel span.titeltekst {
	background: #deeff6;
	color: black;
	padding-bottom: 3px;
}

.brpColumn .getabd div.overzicht.titel span.info {
	display: inline-block;
	color: white;
	font-weight: bold;
	padding-bottom: 3px;
}

.hoger .overzicht.titel {
	height: 25px;
}


.lo3Column .hoger div.overzicht.titel .selecteer .arrow,
.teruggeconverteerdColumn .getabd div.overzicht.titel .selecteer .arrow,
.brpColumn .getabd div.overzicht.titel .selecteer .arrow {
	margin-top: 3px;
}

.foutmeldingen {
	margin-bottom: 18px;
}

#defaultPLen li {
	margin-bottom: 0px;
}