/*
 * Uitlijnen van tabelkolommen in de horizontale weergave.
 *
 * Nu gedaan door een basisgetal n keer te vermenigvuldigen
 * en nog (n-1) * 2 pixels toe te voegen ivm borders.
 */


/* Algemeen */

th, td {
	height: 1.2em;
    max-height: 1.2em;
    width: 104px;
    max-width: 104px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.controles th, .controles td {
	overflow: hidden;
	white-space: normal;
}

.smallTd {
	max-width: 9px;
	width: 9px;
}

/*
 * Lo3
 */

/* a-nummer, bsn */
.aNummer,
.burgerservicenummer,

/* Namen */
.voornamen
.geslachtsnaam {
	max-width: 104px;
}

/* Datums */
.ingangsdatumGeldigheid,
.datumVanOpneming,
.datumSluitingHuwelijkOfAangaanGp,
.datumOntbindingHuwelijkOfGp,
.geboortedatum {
	max-width: 82px;
}

/* Langere teksten */
.straatnaam,
.beschrijvingDocument,
.naamOpenbareRuimte {
	width: 158px;
	max-width: 158px;
}

/* 1-lettercodes */
.geslachtsaanduiding,
.aanduidingNaamgebruikCode,
.redenOntbindingHuwelijkOfGpCode,
.soortVerbintenis,
.indicatieOnjuist,
.indicatieGeheimCode,
.aangifteAdreshouding,
.functieAdres,
.versienummer,
.indicatiePKVolledigGeconverteerdCode,
.geslachtsaanduiding,

/* 2-lettercodes */
.soortNederlandsReisdocument,
.aanduidingVerblijfstitelCode,

/* 3-lettercodes */

.redenVerkrijgingNederlandschapCode,

/* Landcodes en Gemeentecodes (4 cijfers) */
.gemeenteCode,
.gemeenteAkte,
.gemeenteInschrijving,
.gemeenteDocument,
.geboorteGemeenteCode,
.landCode,
.nationaliteitCode,
.geboorteLandCode,
.landCodeSluitingHuwelijkOfAangaanGp,
.landCodeOntbindingHuwelijkOfGp,
.gemeenteCodeSluitingHuwelijkOfAangaanGp,
.gemeenteCodeOntbindingHuwelijkOfGp,

/* Korte teksten */

.voorvoegselGeslachtsnaam,
.huisnummer {
	max-width: 50px;
}

/*
 * BRP
 */

/* volgnummers, versienummers */

.volgnummer,
.versienummer,

/* 1-lettercodes */
.wijzeGebruikGeslachtsnaamCode,
.functieAdresCode,
.redenWijzigingAdresCode,
.verblijfsrechtCode,
.aangeverAdreshoudingCode,
.redenEinde,

/* 2-lettercodes */
.soort,

/* boolean waarden */
.indicatieAfgeleid,
.indicatieNamenreeks,
.indicatiePKVolledigGeconverteerd,
.heeftIndicatie,
.onverwerktDocumentAanwezig,

/* Landcodes en Gemeentecodes (4 cijfers) */

.bijhoudingsgemeenteCode,
.gemeenteCodeEinde,
.gemeenteCodeAanvang,
.landCodeEinde,
.landCodeAanvang {
	max-width: 50px;
}