p, div, th, td {
	font-family: sans-serif;
}

/*
 * Kleurenschema
 */

.overzicht.inhoud,
.supersectie.inhoud,
.table-sectie {
	background-color: #ddffdd;
}

.overzicht.titel,
.persoonslijsten.vertical {
	background-color: #bbffbb;
}

.supersectie.header {
	background-color: #ffffcc;
}

/*
 * Secties e.d.
 */

.selectie {
	margin-bottom:50px;
}

.overzicht.titel {
	padding: 5px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.sectie.header {
	padding-left: 15px;
}

.table-sectie {
	padding: 5px 0px 5px 15px;
}

.titel {
	cursor: pointer;
}

.supersectie.header {
	padding-left: 15px;
}

.supersectie.inhoud > .sectie.titel {
	font-style: italic;
	font-weight: lighter;
}

.titel:before {
	content: "\25BE  ";
}

.gesloten > .titel:before {
	content: "\25B8  ";
}

.gesloten > .inhoud {
	display: none;
}

.hoofdtitelbalk {
	background: darkred;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	cursor: move;
}

.popuptitelbalk {
	background: darkred;
	color: white;
	font-weight: bold;
	padding: 10px;
	cursor: move;
}

.actiePopup {
	display: inline-block;
	border: solid 1px black;
	position: absolute;
	width:600px;
}

.actiePopup table {
	width: 100%;
	margin-left: -2px;
}

.highlight {
	color: darkred;
	font-weight: bold;
}

.buttons {
	float: right;
	cursor: pointer;
}

.loading-spinner {
    display: none;
    background: url("loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

/*
 * De filters
 */

#switch {
	float: right;
}

#historisch, #ongeldig {
	color: gray;
}

#historisch.historisch, #ongeldig.ongeldig {
	color: blue;
}

/*
 * Scrollen binnen persoonslijsten
 */

.scrollDiv {
	position: relative;
	overflow-x: hidden;
    overflow-y:auto;
    max-height:600px;
}

.overzicht.titel {
	position: relative;
	top: 0px;
}
/*
 * Overzicht-tabellen (horizontale weergave)
 */

table {
	border-collapse: collapse;
	border-spacing: 10px;
	margin: 5px 0px 5px 0px;
}

div#foutmelding {
	padding-left:20px;	
}

table#foutmeldingen {
	width: 100%;
}

th {
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
	color: gray;
}

tr.header > th {
	text-align: left;
	padding-right: 0px;
}

td, th {
	background-color: white;
	border: solid 1px black;
}

tr.header {
	display: none;
}

tr.header:first-child {
	display: table-row;
}

th .label {
	display: none;
}

/*
 * Controles-tabellen
 */

th.info {
	color: gray;
}

th.warning {
	color: orange;
}

th.error, th.changed, th.new, th.deleted, th.non_unique_matched {
	color: red;
}

.controles table {
	width: 100%;
}

.controles th {
	width: 10%;
}

/*
 * Verticale weergave
 */

.persoonslijsten.vertical {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border-bottom: solid 1px black;
}

.vertical .lo3Column,
.vertical .teruggeconverteerdColumn,
.vertical .brpColumn {
  display: table-cell;
  vertical-align: top;
}

.vertical .lo3Column,
.vertical .teruggeconverteerdColumn {
	border-right: solid 1px black;
}

.vertical .overzicht.titel {
	border-bottom: none;
	border-top: solid 1px black;
}

.vertical table {
	table-layout: fixed;
	/* width: 100%; */
}

.persoonslijsten.vertical table {
	width: 100%;
	margin-left: -2px;
}

.vertical tr, .vertical tr.header:first-child {
	display: inline-block;
	padding-bottom: 10px;
	width: 50%;
	margin-right: -5px;
}

.vertical td, .vertical th {
	display: block;
	border: 0px;
	height: 1.2em;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.vertical tr.header > th {
	background-color: inherit;
}

.vertical th .label {
	display: inline;
}

.vertical .lo3Column .code:after,
.vertical .teruggeconverteerdColumn .code:after {
	content: " - ";
}

.vertical .lo3Column .code:empty:after,
.vertical .teruggeconverteerdColumn .code:empty:after {
	content: "";
}

.hide {
    display: none;
}
