<div class="input-group input-group-sm">
	<input id="zoek_{{kolom.filter}}"
	       type="text"
		   class="form-control"
		   placeholder="jjjjmmddhhmm"
       	   ng-model="waarde[kolom.filter]"
		/>
	<div  class="input-group-btn">
		<button id="zoek_{{kolom.filter}}_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><i class="glyphicon glyphicon-calendar"></i></button>
		<div class="dropdown-menu" role="menu">
	       	<datetimepicker ng-model="waarde[kolom.filter]" lo3-datumtijd datetimepicker-config="{dropdownSelector:'#zoek_{{kolom.filter}}_btn'}" ></datetimepicker>
	   	</div>
	</div>
</div>
