<div class="input-group input-group-sm">
	<input id="zoek_{{kolom.filter}}"
	       type="text"
		   class="form-control"
		   placeholder="jjjjmmddhhmm"
       	   ng-model="waarde[kolom.filter]"
		/>
	<div  class="input-group-btn">
		<button id="zoek_{{kolom.filter}}_btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><i class="glyphicon glyphicon-calendar"></i></button>
		<div class="dropdown-menu" role="menu">
	       	<datetimepicker ng-model="waarde[kolom.filter]" lo3-datum datetimepicker-config="{dropdownSelector:'#zoek_{{kolom.filter}}_btn', minView:'day' }" ></datetimepicker>
	   	</div>
	</div>
</div>

<!--

<p class="input-group input-group-sm">
	<input id="zoek_{{kolom.display}}"
	       type="text"
		   class="form-control"
           name="{{kolom.edit}}"
		   datepicker-popup="yyyyMMdd"
		   datepicker-options="datepicker.dateOptions"
		   date-type="string"
		   placeholder="jjjjmmdd"
		   is-open="datepicker.opened"
       	   ng-model="waarde[kolom.filter]"
       	   current-text="Vandaag"
       	   clear-text="Leeg maken"
		   close-text="Sluiten"
		/>
	<span class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	</span>
</p>
 -->