<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Aanmelden</h4>
            </div>
            <div class="panel-body">
                <form name="loginForm" class="form-horizontal" novalidate>
                    <div class="form-group form-group-sm">
                        <label for="username" class="col-xs-12 col-sm-3">Gebruikersnaam</label>
                        <div class="col-xs-12 col-sm-9">
                            <input id="username" ng-model="credentials.username" type="text" required class="form-control" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="password" class="col-xs-6 col-sm-3">Wachtwoord</label>
                        <div class="col-xs-12 col-sm-9">
                            <input id="password" ng-model="credentials.password" type="password" required class="form-control" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="submit" value="Aanmelden" class="btn btn-primary btn-sm" data-ng-disabled="loginForm.$invalid" data-ng-click="login(credentials)"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

