<div ng-form="editSubForm" class="form-horizontal" novalidate>
    <div class="modal-header">
        <h4 class="panel-title">{{titel}}</h4>
    </div>
    <div class="modal-body">

        <textarea class='form-control' ng-model='waardenlijst'></textarea>

    </div>
    <div class="modal-footer">
        <a ng-click="annuleren()" class="btn btn-default" ng-show="!hasRole('ROLE_BRP-FB')">Sluiten</a>
        <a ng-click="annuleren()" class="btn btn-default" ng-show="hasRole('ROLE_BRP-FB')">{{!editSubForm.$dirty ? 'Sluiten' : 'Annuleren'}}</a>
        <a ng-click="opslaan()" class="btn btn-primary" ng-disabled="!editSubForm.$dirty || editSubForm.$invalid" ng-show="hasRole('ROLE_BRP-FB')">Opslaan</a>
    </div>
</div>
