body {
	padding-top: 10px;
}

.alertDiv {
    position: fixed;
    z-index:10000;
    top: 2px;
    width: 100%;
}
.alert {
	margin: 30px 15px;
    z-index:10001;
    border-radius:4px;
}

.navbar {
    margin-bottom: 10px;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

fieldset.zoeken div label,
fieldset.edit div label,
fieldset dl dd {
	float:left;
	display:block;
	width:300px;
	overflow:hidden;
}

fieldset {
	margin-top:10px;
}

input.ng-invalid.ng-touched {
 	outline: none;
    border-color: #cc0000;
    box-shadow: 0 0 10px #cc0000;
}

select.ng-invalid.ng-touched {
    outline: none;
    border-color: #cc0000;
    box-shadow: 0 0 10px #cc0000;

}

.form-control.readonly {
	background-color: #ffffff;
    border-style: none;
    box-shadow: unset;
    padding: 0px;
}

select.readonly {
    -moz-appearance: none;
    text-overflow: '';
    border-style: none;
	margin-left: -4px;
}

.panel-heading.notext a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading.notext a.collapsed:after {
    content:"\e080";
}

.panel.jtsmall {
	margin-bottom: 5px;
}

.panel-heading.jtsmall {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	padding-left: 15px;
}

a.jtsmall {
	font-weight: 700;
	color: #333;
}

.pagination {
    margin: 0px !important;
}

.form-horizontal {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.control-label.text-left {
    text-align: left;
}

.form-group.clearrow {
    clear: both;
}

.row.nomargin {
    margin-left: 0px;
    margin-right: 0px;
}

a.headingsearch {
    float: right;
}

.navbar-collapse.login {
    float: right;
}

.json-viewer .panel .panel-heading a {
	display:block;
	width:100%;
}

.json-viewer .panel .panel-heading a:before {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: left;
    color: grey;
    padding-right:6px;
}
.json-viewer .panel .panel-heading a.collapsed:before {
    font-family:'Glyphicons Halflings';
    content:"\e080";
    float: left;
    color: grey;
    padding-right:6px;
}

p.input-group {
	margin:0;
}

.extratop {
	padding-top: 6px;
}

.extratop textarea{
	width: 209%;
	height: 100px;
}

a {
	cursor: pointer;
}

tr.klikbaar {
	cursor: pointer;
}

.show-grid {
    border: 1px solid black;
}

.show-grid-header {
    border-bottom: 1px solid black;
}

.table>tbody>tr.brp-markeer-on>td {
    background-color: antiquewhite;
}

.ui-select-bootstrap .ui-select-choices-row>a{
  overflow: visible!important;
  white-space: normal!important;
}

.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
