// nu nog niet mogelijk om een includePath aan webpack mee te geven vanuit angular cli:
// https://github.com/angular/angular-cli/issues/2269
@import 'src/variables';


.ngx-datatable.material .datatable-header .datatable-header-cell .form-control {
  padding: 0.2rem 0.3rem;
  font-size: .75rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell,
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding: .5rem 0.5rem;
}
.cursor-pointer {
  cursor: pointer;
}

.header-filter {
  width: 90%;
  float: left;
}

.datatable-row-detail {
  overflow-y: visible !important;
}

.opgeslagen-selectietaak {
  background-color: lightcyan;
}

.gemiste-selectietaak {
  background-color: #ffedec;
  color: rgba(0, 0, 0, 0.50);
}

.afgekeurde-selectietaak {
  font-weight: bold;
}

.page-count {
  font-size: $font-size-base;
}
