<?xml version="1.0" encoding="UTF-8"?>
<web-app id="persoon-serializeerder" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Relateren Service</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:relateren-service-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ParameterValidationFilter</filter-name>
        <filter-class>com.matthewcasperson.validation.filter.ParameterValidationFilter
        </filter-class>
        <init-param>
            <param-name>configFile</param-name>
            <param-value>/WEB-INF/xml/pvf.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ParameterValidationFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>
