<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.password">generator</property>
        <property name="hibernate.connection.url">jdbc\:hsqldb\:database/metaregister;create=true;user=generator;password=generator;shutdown=true</property>
        <property name="hibernate.connection.username">generator</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping resource="nl/bzk/brp/bmr/model/Formulier.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/OmResyncRegel.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/SoortTekst.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Tuple.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/SoortExport.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Bedrijfsregelattribuut.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/SoortBedrijfsregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Frame.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/XsdCodeFragment.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ControleResultaat.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Verwijzing.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Controle.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/SoortBerichtsjabloon.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Rapportage.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ea/EaElement.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/BerichtsjabloonItem.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/VersieTag.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Afkorting.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Exportregel.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Element.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/BerichtsjabloonEigenschappen.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/BedrijfsregelImplementatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/TagInCode.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/PlaatsInArchitectuur.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ea/EaTrace.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/BedrijfsregelExt.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Applicatie.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/SoortElement.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Bron.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ea/EaRequirement.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Instelling.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ObjecttypeStatistiek.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/StatusIntake.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Frameveld.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ea/EaCpinstance.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Aspect.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/ea/EaFoutmelding.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Bronattribuut.hbm.xml" />
        <mapping resource="nl/bzk/brp/bmr/model/Tekst.hbm.xml" />
    </session-factory>
</hibernate-configuration>
