**/target

# eclipse
**/.project
**/.settings
**/.classpath
**/.checkstyle
**/.eclipse-pmd

# intellij
**/.idea
**/*.iml

# netbeans
**/nbactions.xml
**/nb-configuration.xml
**/nbproject

# Atomikos
**/*.log
**/*.epoch

# speciaal
**/.metadata
/*/bin
/*/lib
/*/work
/*/*-output
/migr-conversie-regels/excel-expected
/migr-conversie-regels/excel-output
/migr-conversie-regels/excel-regressie-output
/migr-conversie-regels/html-brp
/migr-conversie-regels/html-lo3
/migr-conversie-regels/html-migratie_inhoud
/migr-conversie-regels/html-migratie_redundantie
/migr-conversie-regels/xml-brp
/migr-conversie-regels/xml-lo3
/migr-conversie-regels/xml-migratie_inhoud
/migr-conversie-regels/xml-migratie_redundantie
/migr-ggo-viewer/amUpload
/migr-ggo-viewer/.externalToolBuilders
/migr-tools-amlezer/am-bestanden
/migr-tools-amlezer/data
/migr-tools-deployer/deployer/build/tmp
revnr.txt

