<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %marker %logger{36} - %msg%n"/>
        </Console>



    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="nl.bzk.brp.blobconversie" level="INFO"/>
        <!--<logger name="org.springframework" level="INFO"/>-->
        <!--<logger name="org.hibernate" level="ERROR"/>-->
        <!--<logger name="com.atomikos" level="ERROR"/>-->


    </Loggers>
</Configuration>
