<!DOCTYPE html>
<html>
<head>
<title>Testtool Integratie &amp; Test</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="scripts/services/constants.js"></script>
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="bower_components/angular-highlightjs/build/angular-highlightjs.js"></script>
<script src="bower_components/angular-inview/angular-inview.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/angular-pretty-xml/src/angular-pretty-xml.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/humanize-duration/humanize-duration.js"></script>
<script src="bower_components/angular-timer/dist/angular-timer.js"></script>
<script src="bower_components/angular-xslt/src/ng-xslt.js"></script>
<script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<!-- endbower -->
<script src="bower_components/material-angular-paging/build/dist.min.js"></script>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/highlightjs/styles/default.css" />
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
<link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
<link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
<link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
<!-- endbower -->
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="styles/testtool.css" rel="stylesheet">
</head>
<body ng-app="testtoolApp">
	<md-content class="md-padding">
		<nav class="navbar navbar-default" style="background-color: #ffffff;" ng-controller="navController">
			<md-toolbar class="md-menu-toolbar">
				<div layout="row">
					<div>
						<h5 class="md-toolbar-tools">I&amp;T Testtool</h5>
						<md-menu-bar>
							<md-menu>
								<button ng-click="$mdOpenMenu()">
									Testgevallen <span class="caret">
								</button>
								<md-menu-content>
									<md-menu-item>
										<md-button ng-click="open('testgevallen');">
											Testgevallen 
										</md-button> 
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('matrix');">
											Matrix
										</md-button>
									</md-menu-item>
									
									<md-menu-divider></md-menu-divider>
									
									<md-menu-item>
										<md-button ng-click="open('dashboard');">
											Dashboard
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
							<md-menu>
								<button ng-click="$mdOpenMenu()">
									Tools <span class="caret">
								</button>
								<md-menu-content>
									<md-menu-item>
										<md-button ng-click="open('afnemerindicaties');">
											Ad-hoc afnemerindciaties
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('upload');">
											Ad-hoc upload
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('afterburner');">
											Afterburner
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('consolideren');">
											Consolideren
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('logs');">
											HTTP Error logs
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('stopstart');">
											Stopstart
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('tidy');">
											Tidy
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('transform');">
											Transform
										</md-button>
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('update');">
											Update
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
							<md-menu>
								<button ng-click="$mdOpenMenu()">
									Proeftuin <span class="caret">
								</button>
								<md-menu-content>
									<md-menu-item>
										<md-button ng-click="open('multiply');">
											Multiply 
										</md-button> 
									</md-menu-item>
									<md-menu-item>
										<md-button ng-click="open('stappenplan');">
											Stappenplan
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
							<md-menu>
								<button ng-click="$mdOpenMenu()">
									GBA-V <span class="caret">
								</button>
								<md-menu-content>
									<md-menu-item>
										<md-button ng-click="open('selectie');">
											Selectie 
										</md-button> 
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</md-menu-bar>
					</div>
				</div>
			</md-toolbar>
		</nav>
		<div ng-view class="view-animate"></div>
	</md-content>
	<script src="scripts/app.js"></script>
	<script src="scripts/services/underscore.js"></script>
	<script src="scripts/services/utils.js"></script>
	<script src="scripts/services/tidyService.js"></script>
	<script src="scripts/services/runService.js"></script>
	<script src="scripts/services/modalService.js"></script>
	<script src="scripts/services/compareService.js"></script>
	<script src="scripts/controllers/dashboardController.js"></script>	
	<script src="scripts/controllers/navController.js"></script>
	<script src="scripts/controllers/gbav/selectieController.js"></script>
	<script src="scripts/controllers/proeftuin/runController.js"></script>
	<script src="scripts/controllers/proeftuin/multiplyController.js"></script>
	<script src="scripts/controllers/tools/runISCController.js"></script>
	<script src="scripts/controllers/tools/tidyController.js"></script>
	<script src="scripts/controllers/tools/updateController.js"></script>
	<script src="scripts/controllers/tools/transformController.js"></script>	
	<script src="scripts/controllers/tools/performanceController.js"></script>	
	<script src="scripts/controllers/tools/levsautController.js"></script>	
	<script src="scripts/controllers/tools/afterburnerController.js"></script>	
	<script src="scripts/controllers/tools/uploadController.js"></script>	
	<script src="scripts/controllers/tools/afnemerindicatiesController.js"></script>	
	<script src="scripts/controllers/tools/consolideerController.js"></script>	
	<script src="scripts/controllers/tools/showLogsController.js"></script>	
	<script src="scripts/controllers/stages/stageController.js"></script>	
	<script src="scripts/controllers/stages/stageOverviewController.js"></script>	
	<script src="scripts/controllers/stages/stageListController.js"></script>	
	<script src="scripts/controllers/stages/stageCompareController.js"></script>
	<script src="scripts/directives/runElementDirective.js"></script>	
	<script src="scripts/directives/timeoutElementDirective.js"></script>	
	<script src="scripts/directives/compareElementDirective.js"></script>	
	<script src="scripts/directives/compareElementTableDirective.js"></script>	
	<script src="scripts/directives/statusDirective.js"></script>	
	<script src="scripts/controllers/trace/overviewController.js"></script>	
	<script src="scripts/controllers/trace/editController.js"></script>	
	<script src="scripts/controllers/trace/matrixController.js"></script>	
	<script src="scripts/controllers/tools/toXMLController.js"></script>	
	<script src="scripts/controllers/tools/showPLController.js"></script>	
</body>
</html>