/************************************************************************/
/* BRP Dashboard styles                                           */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
html, body {
	font-family:Verdana, arial, helvetica, sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: #000;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
	padding: 0;
    margin: 0;
	display: block;
}

header h1 {
	background:#233670;
	margin:0px;
	padding:0px;	
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
}

footer p {
    background:#233670;
    margin:0px;
    padding:0px;    
    text-align:center;
    color:#FFFFFF;
    z-index:100;
}

aside{
	float: right;
	width: 30%;
	min-height: 350px;
	margin: 0px;
}

section{
	float: left;
	margin:0px;
}

.notification-area {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 400px;
	z-index:2;
}

#messages{
   /* min-height: 300px;
    max-height:400px;*/
    overflow:scroll;
	height: 400px;
	width: 950px;
	margin: auto 0px;
	display: table; 
}


.stadlogo-mini {
	background-color:#FEFEFE;
	width:80px;
	padding:10px;
	vertical-align:middle;
}

.timestamp {
float:right;
margin-right:2px;
font-style:italic;
}

span.timestamp {
display: block;
font-size: 0.8em;
padding:0px;
margin:0px;
padding-top: 0.1em;
color: #000;
}

.statistics-area {
	width: 30%;
	margin-right:40px;
	height: 200px;
	border-left: 2px dotted #b2a497;
	/*border: 1px solid #000055;	
	border-radius: 5px;
	box-shadow: 0px 0px 5px #000033;*/
}

.bericht {
	clear:both;
	float:none;
    width:inherit;
    color:#000; 
}

article.bericht:nth-child(odd)  {
	background-color:#D8F6CE;

}

.prevalidatie {
	float:right;
    width: 24px;
    padding-right:15px;
}

.meldingenAanwezig {
    color:#CC0000 !important;
   
}

.padding-fix {
margin: 0 5px;
padding: 0px;
}

img.stadlogo {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: left;
width: 100px;
height:inherit;
position: relative;
vertical-align: middle;
/* border:1px solid #000;*/
display: table-cell;
}

figure {margin:0px; padding:0px;}

.berichtIndicatorLinks, .berichtIndicatorRechts {
    width:120px;
    height:inherit;
	padding:0px;
	margin: 10px;
	vertical-align: middle;
    display: table-cell;
   
}

.berichtIndicatorLinks {
    float:left;
}

.berichtIndicatorRechts {
    float:right;
}

.berichtIndicatorRechts img {
    float:right;
}
img.berichttype {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float: right;
width: 100px;
position: relative;
vertical-align: middle;
}

span.stadnaam {
font-size: 1.2em;
font-weight:bold;
float:left;
}

.berichttekst {
float:left;
width:600px;
padding: 0px 10px;
margin: 0px 0px;
font-size: 1em;
line-height: 1em;
word-wrap: break-word;
text-overflow: ellipsis;
overflow: hidden;
}



#births, #movements { float:left; padding:5px;}

caption {color:#FEFEFE; font-weight:bold;}

footer {clear:both;margin-left:auto;margin-right:auto;}

.clear {
  clear:both;
  height:2px;
}



.bericht
{
  position: relative;
  width: 98%;
  background: #81BEF7;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0.2em 0.2em;
 /* color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #333; */
  line-height: 1;
  margin: 15px auto; /* ruimte tussen de berichten */
  vertical-align: middle;
  display: block;
}

/* schaduw onder */
.bericht:before, .bericht:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 90%;
  top: 80%;
  max-width:500px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* schaduw rondingen */
.bericht:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}



