<div class="row">
    <div class="col-xs-1 btn-group btn-group-sm" ng-if="!config.geenNieuw">
        <button ng-click="nieuwItem()" type="submit" ng-disabled="status.nieuw" class="btn btn-primary">Nieuw</button>
    </div>
    <div class="col-xs-6 text-center" ng-if="waarde[kolom.display].totalElements > waarde[kolom.display].size">
        <pagination class="pagination-sm" items-per-page="waarde[kolom.display].size"
                    total-items="waarde[kolom.display].totalElements" ng-model="paginaNummer"
                    ng-change="pagineren(paginaNummer)"></pagination>
    </div>
</div>
<div ng-if="waarde[kolom.display].totalElements > 0">
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th ng-repeat="veld in kolom.velden">
                        <span>{{veld.name}}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr id="{{kolom.name + '_' + $index}}" ng-repeat="(pi, subitem) in waarde[kolom.display].content">
                    <td ng-repeat="veld in kolom.velden">
                        <div ng-if="veld.type !== 'checkboxJaNee'">
                            <brp-lijstveld id="{{kolom.name + '_' + veld.name + '_' + pi}}" kolom='{{veld}}'
                                           waarde="subitem"/>
                        </div>
                        <div ng-if="veld.type === 'checkboxJaNee'">
                            <!--     	                            <brp-veld id="{{kolom.name + '_' + veld.name + '_' + pi}} "kolom='{{veld}}' waarde="subitem" /> -->
                            <input id="{{kolom.name + '_' + veld.name + '_' + pi}}"
                                   name="{{kolom.name + '_' + veld.name + '_' + pi}}"
                                   type="checkbox"
                                   ng-model="subitem.actief"
                                   ng-readonly="(!status.nieuw && kolom.readonly) || (status.nieuw && kolom.nieuwReadonly)"
                                   ng-true-value="'Ja'"
                                   ng-false-value="'Nee'"
                                   ng-change="activateItem(pi, kolom.name + '_' + veld.name + '_' + pi)"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <button ng-click="selectAll()" type="submit" class="btn btn-primary" ng-disabled="buttonDeselecteerAlles == 'Alles deselecteren'">
                <span ng-show="buttonSelecteerAlles == 'Alles selecteren'">
                    <i class="glyphicon glyphicon-refresh spinning"></i>
                </span>
                {{buttonSelecteerAlles}}
            </button>
            <button ng-click="deselectAll()" type="submit" class="btn btn-primary" ng-disabled="buttonSelecteerAlles == 'Alles selecteren'">
                <span ng-show="buttonDeselecteerAlles == 'Alles deselecteren'">
                    <i class="glyphicon glyphicon-refresh spinning"></i>
                </span>
                {{buttonDeselecteerAlles}}
            </button>
        </div>
    </div>
</div>
