    <div id="{{kolom.id}}" ng-if="(!status.nieuw && kolom.readonly) || (status.nieuw && kolom.nieuwReadonly)">
        <div class="extratop">{{geselecteerdeOptie}}</div>
    </div>
    <div ng-if="!((!status.nieuw && kolom.readonly) || (status.nieuw && kolom.nieuwReadonly))">
        <ui-select id="{{kolom.id}}"
                   name="{{kolom.id}}"
                   ng-model="waarde[kolom.display]"
                   thema="bootstrap"
                   ng-required="{{kolom.required}}"
                   ng-disabled="(!status.nieuw && kolom.readonly) || (status.nieuw && kolom.nieuwReadonly)">
            <ui-select-match id="{{kolom.id}}_match" allow-clear="(!status.nieuw && kolom.readonly) || (status.nieuw && kolom.nieuwReadonly)">{{$select.selected.naam}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in items | orderBy: 'naam' | filter: $select.search">
                <div ng-bind-html="item.naam | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="editForm.$submitted || editForm[kolom.id].$touched">
            <span ng-show="editForm[kolom.id].$error.required">Dit veld is verplicht</span>
        </div>
    </div>
