**/target

# eclipse
**/.project
**/.settings
**/.classpath
**/.checkstyle
**/.eclipse-pmd

# intellij
**/.idea
**/*.iml

# netbeans
**/nbactions.xml
**/nb-configuration.xml

# Atomikos
**/*.log
**/*.epoch

# speciaal
