**/target
**/activemq-data

# eclipse
**/.project
**/.settings
**/.classpath
**/.checkstyle
**/.eclipse-pmd
**/.metadata
**/*.lck

# intellij
**/.idea
**/*.iml

# netbeans
**/nbactions.xml
**/nb-configuration.xml

# Atomikos
**/*.log
**/*.epoch

# Maven
**/dependency-reduced-pom.xml

# speciaal
jacoco.exec
jacoco-merged.exec
.ignore

# packages
bower_components
node_modules

# Testtooling
migratie/migr-test-isc/src/test/java/nl/bzk/migratiebrp/test/isc/SingleTest.java
migratie/migr-test-isc/src/test/resources/datasource.properties
