/************************************************************************/
/* BRP Statistieken styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
html, body {
	font-family:Verdana, arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	height:100%;
	overflow: none;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
    padding: 0;
    margin: 0;
    display: block;
}

footer {clear:both;}
footer p {
    background:#233670;
    margin:0px;
    padding:0px;
    text-align:center;
    color:#FFFFFF;
    z-index:100;
}

header h1 {padding:0px;margin:0px; background:#01689B;font-size:1.1em;color:#FFF;}

h2 {font-size:1.1em;}

#statistieken {
    margin:0px auto;
    text-align:center;
}

.berichttype {
   height:80px;
   padding:15px;
}

.berichtsoort {
   height:80px;
   padding:10px;
}

.aantal {
    font-size:2em;
    text-align:center;
    font-weight:bold;
    vertical-align:middle;
}