<style>
<!--
.btn-toolbar .btn {
    margin-bottom: 5px; 
}
-->
</style>
<div class="container" ng-controller="stageController" ng-init="init();">
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<ng-include src="'views/fragments/headerPanel.html'" />
		</div>
		<div class="col-md-3 col-sm-3">
			<button class="btn btn-md btn-primary" ng-if="previousStage" ng-click="open(previousStage, '', '', anr);"><span class="glyphicon glyphicon-arrow-left"></span> Vorige</button>
		</div>
		<div class="col-md-3 col-sm-3">
			<button ng-if="stage != 'TC'" class="btn btn-md btn-primary" ng-click="showPL();">Open</button>
		</div>
		<div class="col-md-3 col-sm-3">
			<button class="btn btn-md btn-primary" ng-if="nextStage" ng-click="open(nextStage, '', '', anr);">Volgende <span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>
	</div>

	<div class="btn-toolbar">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-5"><button class="btn btn-lg btn-block" ng-class="status['SQL'].class" ng-click="open(stage, '', 'SQL', anr);">Database (SQL)</button></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-5"><button class="btn btn-lg btn-block" ng-class="status['GBA'].class" ng-click="open(stage, '', 'GBA', anr);">GBA leveringen</button></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-5"><button class="btn btn-lg btn-block" ng-class="status['BRP'].class" ng-click="open(stage, '', 'BRP', anr);">BRP leveringen</button></div>
		</div>
	</div>
</div>