<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <import resource="datasource.xml" />
    <context:component-scan base-package="nl.bzk.brp.service" />
    <!-- Voor de niet JPA repository types hebben we de component scan nodig! -->
    <context:component-scan base-package="nl.bzk.brp.repository" />
    <jpa:repositories base-package="nl.bzk.brp.repository" entity-manager-factory-ref="entityManagerFactoryWrite" />

</beans>
