/************************************************************************/
/* BRP Statistieken styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
html, body {
	font-family:Verdana, arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	height:100%;
	overflow: none;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
    padding: 0;
    margin: 0;
    display: block;
}

#footer {position:relative;clear:both;margin-left:auto;margin-right:auto;height:25px;margin-top:-25px;}

footer {
 background:#233670;
}

footer p {
    background:#233670;
    margin:0px;
    padding:0px;    
    text-align:left;
    color:#FFFFFF;
    z-index:100;
}

#footerline {
    float:none;
    clear:both;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:25px;
    font-size:0.8em;
}

#wrapper {
	min-height: 742px;
    height: auto !important;
    height: 742px;
}

header h1 {padding:0px;margin:0px; background:#01689B;font-size:1.1em;color:#FFF;}
header h1 {
	background:#233670;
	margin:0px;
	padding:0px;
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
}
h2 {font-size:1.1em;}

figure {margin:0px; padding:0px;}