#inputZoeken,
#resultaatIndex,
#switch,
.buttons,
h1 {
	display: none;
}

th {
	text-align: left;
}

.code { 
    display: inline-block;
    padding-right: 5px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 3px 5px 5px 5px;
}

.persoonslijsten th,
.persoonslijsten td {
	width: 50%;
}

.titel,
.actietitelbalk {
	font-weight: bold;
	padding: 0px 6px;
}

.info {
	margin-left: -1px;
}

.sectie.titel,
.overzicht.titel {
	padding: 3px 0px 5px 6px;
}

span.titeltekst {
	display: inline-block;
	width: 50%;
}

.persoonslijsten .overzicht.overall {
	page-break-after: always;
}

.supersectie.overall,
.sectie.overall,
.controles .overzicht.overall,
.actiePopup {
	margin-top: 10px;
	page-break-inside: avoid;
}


.smallTd {
	width: 140px;
	text-align: left;
}

.smallerTd {
	width: 80px;
	text-align: left;
}

.checkboxTd {
	display: none;
}

a {
	text-decoration: none;
	color: black;
}

.actiePopup {
	position: static !important;
}

.gesloten {
	display: none;
}

.Acties_inhoud,
.Acties_verval,
.Acties_aanpassingGeldigheid,
.Relatie_meer {
	display: none;
}