/*
 * Onze kleurkeuze (= die van de Kwaliteitsmonitor) behoort niet tot de basishuisstijl,
 * dus zelf toevoegen. Aangepast van light_blue, als volgt:
 *
 * #8fcae7 (donkerst)  -> #046f96
 * #ddeff8 (midden)    -> #bddfed
 * #eef7fb (lichtst)   -> #deeff6
 *
 * Toevoegingen buiten de WebKit-opzet om staan in viewer.css 
 */
 
/* ie6 - Fixes hover color of white links in 'tong' */
.blauwig .tong a:hover { color: #fff; }

/* ie6 - Fixes hover color of black links in 'tong' */
.blauwig .tong a:hover { color: #000; }

/* arrow color black in 'tong' */
.blauwig .tong ul li { background-position: left -180px; }


.blauwig .title_bar { background: #bddfed; }
.blauwig .nav_bar { background: #046f96; }
.blauwig .nav_main a { color: #000; }
.blauwig .nav_main a:hover { background: #bddfed; }
.blauwig .sel a { background-color: #bddfed; color: #000; }
.blauwig .content_wrapper2 { border-top: 10px solid #bddfed;  }

.blauwig .visual { background-color: #deeff6; }
.blauwig .tong { background-color: #046f96; }
.blauwig .tong h1, .blauwig .tong h2, .blauwig .tong h3, .blauwig .tong h4, .blauwig .tong h5,
.blauwig .tong h6, .blauwig .tong ul, .blauwig .tong ol, .blauwig .tong dl, .blauwig .tong p, .blauwig .tong a, .blauwig .tong blockquote { color: #000; }

.blauwig .search li a, .blauwig .search li a:hover { color: #000; }

.blauwig .nav_sub li a:hover { background-color: #bddfed !important; }

.blauwig .nav_sub li.open a,
.blauwig .nav_sub li.open li.open a,
.blauwig .nav_sub li.open li.open li.open a,
.blauwig .nav_sub li.open li.open li.open li.open a,
.blauwig .nav_sub li.open li.open li.open li.open li.open a { background-color: #deeff6; }

.blauwig .nav_sub li.active a,
.blauwig .nav_sub li.open li.active a,
.blauwig .nav_sub li.open li.open li.active a,
.blauwig .nav_sub li.open li.open li.open li.active a,
.blauwig .nav_sub li.open li.open li.open li.open li.active a,
.blauwig .nav_sub li.open li.open li.open li.open li.open li.active a { background-color: #bddfed; }

.blauwig .hl_lighter { background-color: #bddfed; }
.blauwig .hl_lightest { background-color: #deeff6; }

.blauwig .hl_color11 { background-color: #e17000; }	/* orange instead of light-blue */

.blauwig .banner,
.blauwig .banner a,
.blauwig .banner h3,
.blauwig .banner h4 { color: #fff; }

.blauwig .banner.hl_lighter,
.blauwig .banner.hl_lightest,
.blauwig .banner.hl_color11,
.blauwig .banner.hl_color12,
.blauwig .banner.hl_color13,
.blauwig .banner.hl_color14,
.blauwig .banner.hl_color15,
.blauwig .banner.hl_lighter a,
.blauwig .banner.hl_lightest a,
.blauwig .banner.hl_color11 a,
.blauwig .banner.hl_color12 a,
.blauwig .banner.hl_color13 a,
.blauwig .banner.hl_color14 a,
.blauwig .banner.hl_color15 a,
.blauwig .banner.hl_lighter h3,
.blauwig .banner.hl_lightest h3,
.blauwig .banner.hl_color11 h3,
.blauwig .banner.hl_color12 h3,
.blauwig .banner.hl_color13 h3,
.blauwig .banner.hl_color14 h3,
.blauwig .banner.hl_color15 h3,
.blauwig .banner.hl_lighter h4,
.blauwig .banner.hl_lightest h4,
.blauwig .banner.hl_color11 h4,
.blauwig .banner.hl_color12 h4,
.blauwig .banner.hl_color13 h4,
.blauwig .banner.hl_color14 h4,
.blauwig .banner.hl_color15 h4 { color: #000; }

.blauwig .box.open.lighter h2,
.blauwig .box.open.lighter h3,
.blauwig .box.open.lighter h4,
.blauwig .box.open.lighter h5,
.blauwig .box.open.lighter h6 { background-color: #bddfed; }
.blauwig .box.open.lighter { border: 1px solid #bddfed; }

.blauwig .box.open.lightest h2,
.blauwig .box.open.lightest h3,
.blauwig .box.open.lightest h4,
.blauwig .box.open.lightest h5,
.blauwig .box.open.lightest h6 { background-color: #deeff6; }
.blauwig .box.open.lightest { border: 1px solid #deeff6; }

.blauwig .box.closed h2,
.blauwig .box.closed h3,
.blauwig .box.closed h4,
.blauwig .box.closed h5,
.blauwig .box.closed h6 { background-color: #bddfed; }
.blauwig .box.closed { background-color: #deeff6; border: 1px solid #bddfed; }

.blauwig .box.open.contrast_lighter h2,
.blauwig .box.open.contrast_lighter h3,
.blauwig .box.open.contrast_lighter h4,
.blauwig .box.open.contrast_lighter h5,
.blauwig .box.open.contrast_lighter h6 { background-color: #e5b2cf; }
.blauwig .box.open.contrast_lighter { border: 1px solid #e5b2cf; }

.blauwig .box.open.contrast_lightest h2,
.blauwig .box.open.contrast_lightest h3,
.blauwig .box.open.contrast_lightest h4,
.blauwig .box.open.contrast_lightest h5,
.blauwig .box.open.contrast_lightest h6 { background-color: #f2d9e7; }
.blauwig .box.open.contrast_lightest { border: 1px solid #f2d9e7; }

.blauwig .box.closed.contrast h2,
.blauwig .box.closed.contrast h3,
.blauwig .box.closed.contrast h4,
.blauwig .box.closed.contrast h5,
.blauwig .box.closed.contrast h6 { background-color: #e5b2cf; }
.blauwig .box.closed.contrast { background-color: #f2d9e7; border: 1px solid #e5b2cf; }

.blauwig .nav_sub li.open li a,
.blauwig .nav_sub li.open li.open li a,
.blauwig .nav_sub li.open li.open li.open li a,
.blauwig .nav_sub li.open li.open li.open li.open li a,
.blauwig .nav_sub li.open li.open li.open li.open li.open li a { background-color: transparent; }
