<div class="input-group input-group-sm">
    <input id="zoek_{{kolom.filter}}"
           type="text"
           class="form-control"
           placeholder="jjjjmmdd"
           ng-pattern="/^(\d{4})(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])/"
           ng-model="waarde[kolom.filter]"
    />
    <div class="input-group-btn">
        <button id="zoek_{{kolom.filter}}_btn" type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i></button>
        <div class="dropdown-menu" role="menu">
            <datetimepicker ng-model="waarde[kolom.filter]" lo3-datum
                            datetimepicker-config="{dropdownSelector:'#zoek_{{kolom.filter}}_btn', minView:'day' }"></datetimepicker>
        </div>
    </div>
</div>
