<form [formGroup]="zoekForm" novalidate>
  <div class="container-fluid bg-faded">
    <div class="row">
      <div class="col-3 mx-auto d-flex">
        <div class="card card-block mb-2 mt-2">
          <h6>Begindatum</h6>
          <app-datepicker id="begin-datum" name="beginDatum" [group]="zoekForm"
                          ngDefaultControl></app-datepicker>
        </div>
      </div>
      <div class="col-3 mx-auto d-flex">
        <div class="card card-block mb-2 mt-2">
          <h6>Einddatum</h6>
          <app-datepicker id="eind-datum" name="eindDatum" [group]="zoekForm"
                          ngDefaultControl></app-datepicker>
        </div>
      </div>
      <div class="col-3 mx-auto d-flex">
        <div class="card card-block mb-2 mt-2">
          <div class="form-check">
            <label class="datatable-checkbox" for="dagelijks-terugkerend">
              <input class="form-check-input" type="checkbox" id="dagelijks-terugkerend"
                     formControlName="dagelijksTerugkerend" (change)="changeDagelijksTerugkerend($event)">&nbsp;Dagelijks
                                                                                                          terugkerend
            </label>
          </div>
          <div class="form-check">
            <label class="datatable-checkbox" for="reeds-gepland">
              <input class="form-check-input" type="checkbox" id="reeds-gepland" formControlName="reedsGepland"
                     (change)="changeReedsIngepland($event)">&nbsp;Reeds gepland
            </label>
          </div>
          <div class="form-check">
            <label class="datatable-checkbox" for="opnieuw-te-plannen">
              <input class="form-check-input" type="checkbox" id="opnieuw-te-plannen" formControlName="opnieuwTePlannen"
                     (change)="changeOpnieuwInTePlannen($event)">&nbsp;Opnieuw in te plannen
            </label>
          </div>
        </div>
      </div>
      <div class="col-3 mx-auto d-flex">
        <div class="card card-block mb-2 mt-2">
          <div class="btn-group">
            <button id="zoeken" type="button" class="btn btn-outline-primary" (click)="zoeken()"
                    [disabled]="!zoekForm.valid || loadingIndicator">Zoeken
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid bg-faded">
  <div class="row">
    <div class="col-12 mx-auto">
      <ngx-datatable #takenTabel class="material expandable"
                     [rows]="rows"
                     [loadingIndicator]="loadingIndicator"
                     [selected]="selected"
                     [selectionType]="'checkbox'"
                     [headerHeight]="70"
                     [footerHeight]="50"
                     [limit]="10"
                     [columnMode]="'force'"
                     [rowHeight]="'auto'"
                     [rowClass]="getRowClass"
                     [messages]="dataTableMessages">
        <!--(activate)="onActivate($event)"-->
        <ngx-datatable-column
          [width]="20"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a class="cursor-pointer"
               [class.datatable-icon-right]="!row.$$expanded"
               [class.datatable-icon-down]="row.$$expanded"
               title="Uit-/Inklappen"
               (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="30"
                              [sortable]="false"
                              [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false"
                              [headerCheckboxable]="true"
                              [checkboxable]="true"></ngx-datatable-column>
        <ngx-datatable-column name="id"
                              [width]="75"
                              [sortable]="true"
                              [canAutoResize]="false"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">ID</span>
            <div class="header-filter">
              <input id="id-header-filter" class="form-control" type="text" [value]="filterValues['id'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'id')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="dienstId"
                              [width]="75"
                              [sortable]="true"
                              [canAutoResize]="false"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Dienst</span>
            <div class="header-filter">
              <input id="dienstid-header-filter" class="form-control" type="text" [value]="filterValues['dienstId'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'dienstId')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="toegangLeveringsautorisatieId"
                              [width]="75"
                              [sortable]="true"
                              [canAutoResize]="false"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Toegang</span>
            <div class="header-filter">
              <input id="toegang-header-filter" class="form-control" type="text" [value]="filterValues['toegangLeveringsautorisatieId'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'toegangLeveringsautorisatieId')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="partijNaam"
                              [width]="350"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Partij</span>
            <div class="header-filter">
              <input id="partij-header-filter" class="form-control" type="text" [value]="filterValues['partijNaam'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'partijNaam')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="stelsel"
                              [width]="75"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Stelsel</span>
            <div class="header-filter">
              <input id="stelsel-header-filter" class="form-control" type="text" [value]="filterValues['stelsel'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'stelsel')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="interval"
                              [width]="150"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Interval</span>
            <div class="header-filter">
              <input id="selectieinterval-header-filter" class="form-control" type="text" [value]="filterValues['interval'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'interval')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="eenheidInterval"
                              [width]="150"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Eenheid Interval</span>
            <div class="header-filter">
              <input id="eenheidselectieinterval-header-filter" class="form-control" type="text" [value]="filterValues['eenheidInterval'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'eenheidInterval')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Soort"
                              [width]="350"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">{{column.name}}</span>
            <div class="header-filter">
              <input id="selectiesoort-header-filter" class="form-control" type="text" [value]="filterValues['selectieSoort'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'selectieSoort')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="eersteSelectiedatum"
                              [width]="150"
                              [sortable]="true"
                              [canAutoResize]="true"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Eerste Selectiedatum</span>
            <div class="header-filter">
              <input id="eersteselectiedatum-header-filter" class="form-control" type="text" [value]="filterValues['eersteSelectiedatum'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'eersteSelectiedatum')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Berekende selectiedatum"
                              [width]="150"
                              [sortable]="true"
                              [canAutoResize]="false"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">{{column.name}}</span>
            <div class="header-filter">
              <input id="berekende-seldatum-header-filter" class="form-control" type="text" [value]="filterValues['berekendeSelectiedatum'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'berekendeSelectiedatum')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="datumPlanning"
                              [width]="150"
                              [sortable]="true"
                              [canAutoResize]="false"
                              [draggable]="true"
                              [resizeable]="true"
                              [headerCheckboxable]="false"
                              [checkboxable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="cursor-pointer" (click)="sort()">Datum Planning</span>
            <div class="header-filter">
              <input id="datumplanning-seldatum-header-filter" class="form-control" type="text" [value]="filterValues['datumPlanning'] || ''"
                     placeholder="Filter..." (change)="onHeaderFilterChange($event, 'datumPlanning')" (select)="$event.stopPropagation()"/>
            </div>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" ngx-datatable-row-detail-template>
            <app-taak-detail *ngIf="dienst" [index]="row.$$index" [taak]="geefDetailTaak(row)" [dienst]="dienst"
                             [toonNietVerverstMelding]="!overzichtVerverst"
                             (onUpdate)="update($event)"></app-taak-detail>
          </ng-template>
        </ngx-datatable-row-detail>
      </ngx-datatable>
    </div>
  </div>
</div>

<!--<pre>{{taken | json}}</pre>-->
