/************************************************************************/
/* BRP Dashboard Bevraging styles                                       */
/* Release versie: ${project.version}-r${buildNumber} */
/* $Rev:  $*/
/* $Date:  $*/
/************************************************************************/
#actions {
	float: right;
	width: 30%;
	height:100%;
}

#person {
	float:left;
	width:68%;
	padding-right:10px;
	border-right:2px solid #000;
}

footer {clear:both;}
footer p {
    background:#233670;
    margin:0px;
    padding:0px;    
    text-align:center;
    color:#FFFFFF;
    z-index:100;
}
html, body {
    font-family:'Liberation Sans', verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #333;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
    padding: 0;
    margin: 0;
    display: block;
}
header h1 {padding:0px;margin:0px; background:#01689B;font-size:1.1em;color:#FFF;}

/* classes voor de panelen */
#person h3 {line-height:1.2em;background-color:#0080FF;padding-top:4px;}
#person h3 {padding-left: 25px; cursor:pointer;border-bottom:1px solid #000; padding-bottom:4px;
background: url("../images/arrows.png") no-repeat 0 -28px; display:block; text-decoration:none; margin:0; margin-top:2px;}  
#person h3 a {color:#FFF;text-decoration:none;}
#person .active {background-color: #0101DF;  background-position: 0 5px; }
#person .inactive {background-color:#0080FF; }

#person table td {border-spacing:2px;border-collapse: collapse;padding:0px;border:1px solid #fff;}
#person table td:nth-child(odd){background-color:#0489B1; color:#fff;}
#person table td:nth-child(even){background-color:#EFEFEF;}

.label {font-weight:bold; width:150px; font-size:0.8em;}
.data {width:250px;}
.historietonen {width:24px;height:24px; float:right;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.historie {margin-left:10px; background: url("../images/history.png") right center no-repeat !important;}
.historie .active {background-color: #0489B1 !important;  background-position: 0 5px; }
.historie .inactive {background-color:#0489B1 !important; }

.historiesadres {width:20px;height:20px; padding:2px;}

.stadlogo-mini {
	float:left;
    background-color:#FEFEFE;
    width:80px;
    padding:2px;
    vertical-align:middle;
}
