<div class="panel panel-default" ng-if="!lijstZichtbaar && user">
    <div class="panel-heading">
        <h4 class="panel-title">{{titel}}</h4>
    </div>
    <div class="panel-body">
        <div ng-repeat="column in columns">
            <div class="form-group form-group-sm clearrow">
                <div class="col-sm-2 col-xs-12">
                    <span class="text-primary">{{column.name}}</span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span>{{onderhandenitem.item[column.display]}}</span>
                </div>
            </div>
        </div>
    </div>
</div>  
