<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <AsyncRoot level="WARN">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
        <AsyncLogger name="nl.bzk.brp.distributie.shaded.tools.mailboxclient" level="INFO"/>
    </Loggers>
</Configuration>
