<div class="col-md-10 col-sm-8 col-xs-12">
    <div class="row">
        <div class="col-xs-1 btn-group btn-group-sm" ng-if="!config.geenNieuw">
            <button ng-click="nieuwItem()" type="submit" ng-disabled="status.nieuw" class="btn btn-primary">Nieuw</button>
        </div>
        <div class="col-xs-6 text-center" ng-if="waarde[kolom.display].totalElements > waarde[kolom.display].size">
            <pagination class="pagination-sm" items-per-page="waarde[kolom.display].size" total-items="waarde[kolom.display].totalElements" ng-model="paginaNummer" ng-change="pagineren()" ></pagination>
        </div>
    </div>
    <div ng-if="waarde[kolom.display].length > 0">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover table-striped table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th ng-repeat="veld in kolom.velden">
                                <span>{{veld.name}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subitem in waarde[kolom.display]" ng-click="viewItem()" class="klikbaar">
                            <td ng-repeat="veld in kolom.velden">
                                <brp-lijstveld kolom='{{veld}}' waarde="subitem"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
