<style>
	.modal-dialog {
		width: 970px;
    	margin-left: 240px;
    	background-color: white;
    }
</style>
<div class="container" ng-controller="selectieController">
	<div class="row">
		<div class="col-md-9" style="vertical-align:middle;">
			<a class="btn btn-lg btn-primary has-spinner" id="go_selectie" ng-click="selectie();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Selectie
			</a>
		</div>
		<div ng-if="log['selectie']" class="col-md-3">
			<label ng-click="labelClick('selectie');" class="btn btn-default">log</label>
		</div>
	</div>
	<div class="row"><br /></div>
	<div class="row">
		<div class="col-md-9" style="vertical-align:middle;">
			<a class="btn btn-lg btn-primary has-spinner" id="go_verzend" ng-click="verzend();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Verzend
			</a>
		</div>
		<div ng-if="log['verzend']" class="col-md-3">
			<label ng-click="labelClick('verzend');" class="btn btn-default">log</label>
		</div>
	</div>
	<div class="row"><br /></div>
	<div class="row">
		<div class="col-md-9" style="vertical-align:middle;">
			<a class="btn btn-lg btn-primary has-spinner" id="go_protocolleer" ng-click="protocolleer();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Protocolleer
			</a>
		</div>
		<div ng-if="log['protocolleer']" class="col-md-3">
			<label ng-click="labelClick('protocolleer');" class="btn btn-default">log</label>
		</div>
	</div>
	<div class="row"><br /></div>
	<div class="row">
		<div class="col-md-9" style="vertical-align:middle;">
			<a class="btn btn-lg btn-primary has-spinner" id="go_verwijderen" ng-click="verwijderen();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Verwijderen
			</a>
		</div>
		<div ng-if="log['verwijderen']" class="col-md-3">
			<label ng-click="labelClick('verwijderen');" class="btn btn-default">log</label>
		</div>
	</div>
	<div class="row"><br /></div>
	<div class="row">
		<div class="col-md-11 col-sm-11"></div>
		<div class="col-md-1 col-sm-1"><a ng-click="toonlog();">Toon log</a></div>
	</div>
</div>

<div class="modal fade" id="loggingModal" tabindex="-1" role="dialog" aria-labelledby="loggingLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Logging</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
			</div>
		</div>
	</div>
</div>
