/atlassian-ide-plugin.xml
*.iml
.idea
target

# eclipse
**/.project
**/.settings
**/.classpath
**/.checkstyle
**/.eclipse-pmd
**/*.log
**/*.epoch

# npm
node_modules

# ART's afhankelijkheden die gegenereerd zijn
art/art-basis/afhankelijkheden/
test/deployment-art-omgeving/art-engine/
/.project
**/conversie-*/*-output
