<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-20.30logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.test.context" level="WARN"/>
    <logger name="nl.bzk.brp" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
