/**********************************************************
  General styles
***********************************************************/
body {
    font-weight:normal;
    font-family:verdana,sans-serif;
    font-size:10pt;
    background-repeat:no-repeat;
    margin:0;
    border-width:0;
    padding:0;
}

html {
    background-attachment:scroll;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    border-width:0;
}

button, input, select, option, textarea {
    font-family:arial,helvetica,sans-serif;
    font-weight:normal;
    font-size:10pt;
    line-height:normal;
}

select {
    vertical-align:top;
}

form {
    display:inline;
}

h1, h2, h3, h4, h5, h6 {
    display:inline;
}

h1 {
    font-size:16pt;
}

h2 {
    font-size:14pt;
}

h3 {
    font-size:12pt;
}

h4 {
    font-size:10pt;
}

h5 {
    font-size:8pt;
}

h6 {
    font-size:6pt;
}

a {
    cursor: pointer;
    color: rgb(110, 110, 170);
    text-decoration: underline;
}

a:hover {
    color: rgb(160, 160, 255);
}

div.hr {
    border-style:none;
    border-width:0;
    background:#c0c0c0;
    margin-left:3px;
    margin-right:3px;
    height:2px;
    font-size:0;
    margin-top:6px;
    margin-bottom:10px;
}

b {
    font-weight:bold;
}

table.layout {
    margin:0;
    padding:0;
    border-collapse:collapse;
}

table.layout td {
    margin:0;
    padding:0;
}

table.layout td.layoutmenu {
    vertical-align:top;
    margin:0;
    padding:0;
    width:240px;
    background:#dddddd;
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#000000;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#000000;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000000;
    border-collapse:collapse;
}

table.layout td.layoutbody {
    vertical-align:top;
    padding:10px;
    background:#ffffff;
    width:100%;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#000000;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000000;
    border-collapse:collapse;
}

table.layout td.layoutheader {
    background:#dddddd;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#000000;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000000;
    border-collapse:collapse;
}

table.layout td.layoutfooter {
    text-align:center;
    font-size:10px;
    background:#dddddd;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#000000;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000000;
    border-collapse:collapse;
}

table.leftmenu {
    border-width:0;
    border-bottom-width:1px;
    border-collapse:collapse;
    border-color:#000000;
    width:200px;
}

tr.leftmenuheader th.nf {
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#000000;
}

tr.leftmenuheader th {
    padding-left:3px;
    padding-right:3px;
    background-color:#990000;
    color:#ffff99;
    font-size:12px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#000000;
}

tr.leftmenu th {
    vertical-align:top;
    padding:3px;
    text-align:left;
    text-decoration:none;
    font-size:11px;
    white-space:nowrap;
    background:#444444;
    color:#ffffff;
}

tr.leftmenu td {
    vertical-align:top;
    padding:3px;
    text-align:left;
    text-decoration:none;
    font-size:12px;
    white-space:nowrap;
    background:#dddddd;
}

tr.leftmenu td ul {
    /*list-style-position:inside;*/
    margin:0;
    padding:0;
    padding-left:16px;
    vertical-align:bottom;
    list-style-image:url( "../images/bullet.gif" );
}

.statusSuspended {
    color:#aa6600;
    font-weight:bold;
}

.statusRunning {
    color:#00cc00;
    font-weight:bold;
}

.statusEnded {
    color:#cc0000;
    font-weight:bold;
}

.statusNotstarted {
    color:#0066aa;
    font-weight:bold;
}

a.headermenu {
    padding-left:8px;
    padding-right:8px;
    text-decoration:none;
    color:#cc0000;
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#888888;
}

a.headermenufirst {
    padding-left:8px;
    padding-right:8px;
    text-decoration:none;
    color:#cc0000;
}

a.headermenu:hover, a.headermenufirst:hover {
    background:#ffffff;
    color:#cc0000;
}

table.results {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    border-collapse:collapse;
    /* margin-left:auto; */
    /* margin-right:auto; */
}

table.results td, table.results th {
    padding:3px;
    font-size:11px;
}

table.results thead tr {
    cursor:default;
}

table.results thead tr th {
    text-align:left;
    background-color:#990000;
    color:#ffff99;
    font-size:12px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
}

table.results thead tr th b {
    font-weight:normal;
}

table.results thead tr td {
    text-align:left;
    background-color:#dddddd;
    color:#990000;
    font-weight:bold;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
}

table.results tbody.results tr {
    background-color:#dddddd;
}

/*
    soa.css definieert bij a:hover font-weight:bold.
    Dit veroorzaakt (vooral in tabellen) soms wat layout problemen.
*/
table a:hover {
  font-weight:inherit;
}

table.results tbody.results tr.even {
    background-color:#ddddbb;
}

table.results tbody.results tr.odd {
    background-color:#ffffdd;
}

table.results tbody.filter td {
    text-align:left;
    font-size:10px;
    padding-bottom:1px;
    padding-top:1px;
    font-weight:normal;
    background-color:#cccccc;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
}

table.results td {
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#000000;
}

table.results tbody.results th {
    padding:3px;
    text-align:left;
    text-decoration:none;
    font-size:11px;
    white-space:nowrap;
    background:#444444;
    color:#ffffff;
}

table.results tbody.action tr {
    background-color:#dddddd;
}

table.results tbody.action tr td {
    border-top-color:#000000;
    border-top-style:solid;
    border-top-width:1px;
}

table.msgs {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    border-width:1px;
    border-style:solid;
    border-collapse:collapse;
    border-color:#000000;
    font-size:10px;
    width:400px;
}

table.msgs td {
    padding-left:8px;
    padding-right:8px;
    border-bottom-width:1px;
    border-bottom-color:#000000;
    border-bottom-style:dotted;
}

table.msgs thead th {
    font-size:11px;
}

table.error thead th {
    background-color:#cc0000;
    color:#ffffff;
}

table.fatal thead th {
    background-color:#cc0000;
    color:#ffffff;
}

table.warn thead th {
    background-color:#cccc00;
    color:#ffffff;
}

table.info thead th {
    background-color:#0000cc;
    color:#ffffff;
}

.hidden {
    display:none;
}

div.pbox, div.pbox_s, div.pbox_e {
    position:absolute;
    border-width:1px;
    border-style:solid;
}

div.pbox {
    border-color:#0000ff;
}

div.pbox_s {
    border-color:#aa6600;
}

div.pbox_e {
    border-color:#cc0000;
}

div.pboxs, div.pboxs_s, div.pboxs_e {
    position:absolute;
    border-right-width:1px;
    border-right-style:solid;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

div.pboxs {
    border-right-color:#9999ff;
    border-bottom-color:#9999ff;
}

div.pboxs_s {
    border-right-color:#ffaa99;
    border-bottom-color:#ffaa99;
}

div.pboxs_e {
    border-right-color:#660000;
    border-bottom-color:#660000;
}

div.pboxce {
    position:absolute;
    overflow:hidden;
}

div.pboxc, div.pboxc_s, div.pboxc_e {
    cursor:default;
    font-size:10px;
    white-space:nowrap;
    color:#ffffff;
    padding-left:3px;
    padding-right:3px;
    border-width:1px;
    border-style:solid;
}

div.pboxc {
    border-color:#0000ff;
    background-color:#0000ff;
}

div.pboxc_s {
    border-color:#aa6600;
    background-color:#aa6600;
}

div.pboxc_e {
    border-color:#cc0000;
    background-color:#cc0000;
}

div.pboxc a, div.pboxc_s a, div.pboxc_e a {
    color:#ffffff;
    text-decoration:none;
}

div.pboxc a:hover, div.pboxc_s a:hover, div.pboxc_e a:hover {
    text-decoration:underline;
}

span.comment {
    display:block;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:4px;
    padding-right:4px;
    border-width:1px;
    border-color:#990000;
    border-style:solid;
    border-collapse:collapse;
    margin-left:5px;
    margin-right:5px;
    background-color:#ffffff;
    font-family:arial,helvetica,sans-serif;
    margin-top:4px;
    margin-bottom:4px;
    overflow:auto;
}

textarea {
    width:560px;
    height:130px;
}

textarea.comment {
    width:480px;
    height:80px;
}

/* task forms */

table.dataform {
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    border-color:#000000;
    margin-left:auto;
    margin-right:auto;
}

table.dataform td, table.dataform th {
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
}

table.dataform thead tr th {
    text-align:left;
    background-color:#990000;
    color:#ffff99;
    font-weight:bold;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
}

table.dataform tbody th {
    text-align:left;
    text-decoration:none;
    font-size:11px;
    white-space:nowrap;
    background:#444444;
    color:#ffffff;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
    border-collapse:collapse;
    width:130px;
}

table.dataform tbody td {
    text-align:left;
    text-decoration:none;
    font-size:11px;
    white-space:nowrap;
    background:#dddddd;
    color:#000000;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#000000;
    border-collapse:collapse;
    width:260px;
}

a.pager {
    color:#aaaaff;
}

a.pager:hover {
    color:#ffffff;
}

span.pager {
    font-weight:normal;
    color:#999999;
}

/* ZOEK CRITERIA */

p.parameter {
    margin:0;
}

p label.label {
    width: 25em;
    float: left;
    margin-top: 2px;
}

