<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
    <!-- metadata-complete="true", reden gebruik zie: https://issues.apache.org/bugzilla/show_bug.cgi?id=52326 -->

    <display-name>BRP Routering Centrale</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:gba-centrale.xml</param-value>
    </context-param>

    <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>GbaCentrale</param-value>
    </context-param>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>versie.html</welcome-file>
    </welcome-file-list>
</web-app>
