<div ng-controller="ItemJsonController">
    <div class="panel panel-default" ng-if="!lijstZichtbaar && jsonZichtbaar && user">

        <div class="panel-heading">
            <h4 class="panel-title">{{titel}}</h4>
        </div>
        <div class="panel-body json-viewer">


            <json-toon gegevens="jsonData"></json-toon>

            <!-- p ng-bind-html="onderhandenitem.jsonitem"></p -->

        </div>
        <div class="panel-footer">
            <a ng-click="sluiten()" class="btn btn-default">Sluiten</a>
        </div>
    </div>
</div>
