<div class="container" ng-init="init();">
	<div ng-class="alert">{{ alertMessage }}</div>

	<div class="row form-group">
		<div class="col-md-12">
			<textarea class="form-control" rows="25" ng-model="afterburner" wrap="soft" placeholder="Afterburner"></textarea>
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-lg-6 col-md-6">
			<a class="btn btn-block btn-lg btn-primary has-spinner" id="go" ng-click="save();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Opslaan
			</a>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			<textarea class="form-control" disabled rows="10" ng-model="log" wrap="soft" placeholder="Log van de laatste run"></textarea>
		</div>
	</div>

</div>