<div class="container">
	<div ng-class="alert">{{ alertMessage }}</div>

	<div class="row form-group">
		<div class="col-md-12">
			<textarea class="form-control" rows="15" ng-model="csv" wrap="soft" placeholder="Excel Copy-Paste"></textarea>
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-lg-6">
			<a class="btn btn-block btn-lg btn-primary has-spinner" id="go" ng-click="convert();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Converteer
			</a>
		</div>
	</div>	

	<div class="row form-group">
		<div class="col-md-12"><textarea class="form-control" rows="15" id="from" ng-model="result" wrap="soft" placeholder="Output"></textarea></div>
	</div>

</div>