<div dashboard="dashboardOptions" class="container">
	<div class="row form-group">
		<div class="col-md-10">
			<input class="form-control" type="text" ng-model="url" placeholder="URL" />
		</div>
		<div class="col-md-2">
			<button class="form-control btn btn-md btn-success" ng-click="get()">Go</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6" ng-repeat="(key, value) in content">
			<div class="panel panel-default">
				<div class="panel-heading">{{ value.name }}</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-bar" data="value.data" labels="value.labels" series="value.series" legend="true"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>