<style>
	.head {
		text-decoration: bold;
	}
</style>
<div class="container-fluid" ng-controller="showPLController" ng-init="show();">
	<div>
		<div ng-if="pl | isArray" class="table">
			<div class="row">
				<div class="cell head">kolom 1</div>
				<div class="cell head">kolom 2</div>
				<div class="cell head">kolom 3</div>
			</div>
			<div class="row" ng-repeat="value in pl track by $index">
				<div class="cell" ng-class="!value[2]?'head':''">{{ value[0] }}</div>
				<div class="cell" ng-class="!value[2]?'head':''">{{ value[1] }}</div>
				<div class="cell" ng-class="!value[2]?'head':''">{{ value[2] }}</div>
			</div>
		</div>
		<div ng-if="pl.startsWith('<')" class="col-md-12" hljs hljs-source="pl"></div>
	</div>
</div>
