<div ng-controller="toXMLController" class="container-fluid" ng-init="list();">	
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Selecteer directory<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-repeat="(key, value) in content"><a ng-click="select(value);">{{ value }}</a></li>
		</ul>
	</div>
	
	<h1></h1>
		
	<div class="row form-group">
		<div class="col-md-12" hljs hljs-source="xml">
	  	</div>
	</div>
</div>