<div ng-controller="transformController" class="container-fluid">	
	<div class="row form-group">
		<div class="col-md-6">
			<textarea class="form-control" rows="10" ng-model="xml" wrap="soft" placeholder="XML"></textarea>
		</div>
		<div class="col-md-6">
			<textarea class="form-control" rows="10" ng-model="xslt" wrap="soft" placeholder="XSL-stylesheet"></textarea>
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-lg-6">
			<button class="btn btn-block btn-lg btn-primary" id="go" ng-click="strip();">Strip</button>
		</div>
	</div>	

	<div class="row form-group">
		<div class="col-md-12" hljs hljs-source="xml | xslt:xslt | prettyXml"></div>
	</div>
</div>