<div class="container" ng-controller="updateController">
	<div class="row">
		<div class="col-md-9" style="vertical-align:middle;">
			<a class="btn btn-lg btn-primary has-spinner" id="go" ng-click="update();">
				<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
				Update alles
			</a>
		</div>
		<div ng-if="log['SQL']" class="col-md-3">
			<label ng-click="labelClick('SQL');" class="btn btn-default">log</label>
		</div>
	</div>
	<div class="row"><br /></div>
</div>

<div class="modal fade" id="loggingModal" tabindex="-1" role="dialog" aria-labelledby="loggingLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Logging</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
			</div>
		</div>
	</div>
</div>
