#!/bin/bash

function urldecode {
        echo -e "$(sed 's/+/ /g;s/%\(..\)/\\x\1/g;')"
}

function readParams {
	qparm=(${QUERY_STRING//\&/ });
	for i in "${qparm[@]}"
	do
		bparm=(${i//=/ });
		if [ "${bparm[1]}" != "undefined" ];
		then
			export ${bparm[0]}=$( echo "${bparm[1]}" | urldecode );
		fi
	done
}

readParams;

if [[ $( hostname ) == "sit-dok01"* ]];
then
	# SSH CONFIG
	IV_HOST=sit-dok01
	MIGR_IV_AP_HOST=sit-dok01
	BRP_ISC_AP_HOST=sit-dok02
	
	# DB CONFIG
	GBAV_DB_HOST=sit-db01
	GBAV_DB_NAME=gbav
	GBAV_DB_USER=gbav
	GBAV_DB_PASSWORD=gb4v
	
	BRP_IV_DB_HOST=sit-dok01
	BRP_IV_DB_NAME=brp
	BRP_IV_DB_USER=brp
	BRP_IV_DB_PASSWORD=brp
	
	BRP_ISC_DB_HOST=sit-db01
	BRP_ISC_DB_NAME=brp
	BRP_ISC_DB_USER=brp
	BRP_ISC_DB_PASSWORD=brp
	
	BRP_ISC_ARCHIVERING_DB_HOST=sit-dok02
	BRP_ISC_ARCHIVERING_DB_PORT=5452
	BRP_ISC_ARCHIVERING_DB_NAME=brp
	BRP_ISC_ARCHIVERING_DB_USER=brp
	BRP_ISC_ARCHIVERING_DB_PASSWORD=brp
	
	MIGR_DB_USER=migratie
	MIGR_DB_PASSWORD=M1gratie
	
	VOISC_DB_HOST=sit-dok02
	VOISC_DB_NAME=voisc
	VOISC_DB_PORT=5632
	
	BRP_GBAV_DB_HOST=sit-dok01
	BRP_GBAV_DB_PORT=5832
	BRP_GBAV_DB_NAME=gbav
	BRP_GBAV_DB_SCHEMA=initvul
	BRP_GBAV_DB_USER=migratie
	BRP_GBAV_DB_PASSWORD=M1gratie
	
	# WEBSERVICE CONFIG
	
	BRP_BEVRAGING_HOST=sit-dok02
	BRP_BEVRAGING_PORT=8980
	BRP_BIJHOUDING_HOST=sit-dok02
	BRP_BIJHOUDING_PORT=8780
	
	BRP_ONDERHOUD_AFNEMERINDICATIES_HOST=sit-dok02
	BRP_ONDERHOUD_AFNEMERINDICATIES_PORT=8480
	
	# voor versie 131
	BRP_ONDERHOUD_AFNEMERINDICATIES_WSDL_PATH="brp-delivery-afnemerindicatie/AfnemerindicatiesService/lvgAfnemerindicaties?wsdl";
	
	BRP_BEHEER_HOST=sit-dok02
	BRP_BEHEER_PORT=8280

elif [[ $( hostname ) == "sit-dok03"* ]];
then
	# SSH CONFIG
	IV_HOST=sit-dok03
	MIGR_IV_AP_HOST=sit-dok03
	BRP_ISC_AP_HOST=sit-dok04
	
	# DB CONFIG
	GBAV_DB_HOST=sit-db08
	GBAV_DB_NAME=spg
	GBAV_DB_USER=brp
	GBAV_DB_PASSWORD=brp
	
	BRP_IV_DB_HOST=sit-dok03
	BRP_IV_DB_NAME=brp
	BRP_IV_DB_USER=brp
	BRP_IV_DB_PASSWORD=brp
	
	BRP_ISC_DB_HOST=sit-db08
	BRP_ISC_DB_NAME=brp
	BRP_ISC_DB_USER=brp
	BRP_ISC_DB_PASSWORD=brp
	
	BRP_ISC_ARCHIVERING_DB_HOST=sit-dok04
	BRP_ISC_ARCHIVERING_DB_PORT=5452
	BRP_ISC_ARCHIVERING_DB_NAME=brp
	BRP_ISC_ARCHIVERING_DB_USER=brp
	BRP_ISC_ARCHIVERING_DB_PASSWORD=brp
	
	MIGR_DB_USER=migratie
	MIGR_DB_PASSWORD=M1gratie
	
	VOISC_DB_HOST=sit-dok04
	VOISC_DB_NAME=voisc
	VOISC_DB_PORT=5632
	
	BRP_GBAV_DB_HOST=sit-dok03
	BRP_GBAV_DB_PORT=5832
	BRP_GBAV_DB_NAME=gbav
	BRP_GBAV_DB_SCHEMA=initvul
	BRP_GBAV_DB_USER=migratie
	BRP_GBAV_DB_PASSWORD=M1gratie
	
	# WEBSERVICE CONFIG
	
	BRP_BEVRAGING_HOST=sit-dok04
	BRP_BEVRAGING_PORT=8980
	BRP_BIJHOUDING_HOST=sit-dok04
	BRP_BIJHOUDING_PORT=8780
	
	BRP_ONDERHOUD_AFNEMERINDICATIES_HOST=sit-dok04
	BRP_ONDERHOUD_AFNEMERINDICATIES_PORT=8480
	
	# voor versie >134
	BRP_ONDERHOUD_AFNEMERINDICATIES_WSDL_PATH="afnemerindicaties/AfnemerindicatiesService/lvgAfnemerindicaties?wsdl"
	
	BRP_BEHEER_HOST=sit-dok04
	BRP_BEHEER_PORT=8280

elif [[ $( hostname ) == "rvig-dok01"* ]];
then
	# SSH CONFIG
	IV_HOST=rvig-dok01
	MIGR_IV_AP_HOST=rvig-dok01
	BRP_ISC_AP_HOST=rvig-dok02
	
	# DB CONFIG
	GBAV_DB_HOST=rvig-db01
	GBAV_DB_NAME=spg
	GBAV_DB_USER=brp
	GBAV_DB_PASSWORD=brp
	
	BRP_IV_DB_HOST=rvig-dok01
	BRP_IV_DB_NAME=brp
	BRP_IV_DB_USER=brp
	BRP_IV_DB_PASSWORD=brp
	
	BRP_ISC_DB_HOST=rvig-db01
	BRP_ISC_DB_NAME=brp
	BRP_ISC_DB_USER=brp
	BRP_ISC_DB_PASSWORD=brp
	
	BRP_ISC_ARCHIVERING_DB_HOST=rvig-dok02
	BRP_ISC_ARCHIVERING_DB_PORT=5452
	BRP_ISC_ARCHIVERING_DB_NAME=brp
	BRP_ISC_ARCHIVERING_DB_USER=brp
	BRP_ISC_ARCHIVERING_DB_PASSWORD=brp
	
	MIGR_DB_USER=migratie
	MIGR_DB_PASSWORD=M1gratie
	
	VOISC_DB_HOST=rvig-dok02
	VOISC_DB_NAME=voisc
	VOISC_DB_PORT=5632
	
	BRP_GBAV_DB_HOST=rvig-dok01
	BRP_GBAV_DB_PORT=5832
	BRP_GBAV_DB_NAME=gbav
	BRP_GBAV_DB_SCHEMA=initvul
	BRP_GBAV_DB_USER=migratie
	BRP_GBAV_DB_PASSWORD=M1gratie
	
	# WEBSERVICE CONFIG
	
	BRP_BEVRAGING_HOST=rvig-dok02
	BRP_BEVRAGING_PORT=8980
	BRP_BIJHOUDING_HOST=rvig-dok02
	BRP_BIJHOUDING_PORT=8780
	
	BRP_ONDERHOUD_AFNEMERINDICATIES_HOST=rvig-dok02
	BRP_ONDERHOUD_AFNEMERINDICATIES_PORT=8480
	
	# voor versie >134
	BRP_ONDERHOUD_AFNEMERINDICATIES_WSDL_PATH="afnemerindicaties/AfnemerindicatiesService/lvgAfnemerindicaties?wsdl"
	
	BRP_BEHEER_HOST=rvig-dok02
	BRP_BEHEER_PORT=8280

elif [[ $( hostname ) == "sit-dok05"* ]];
then
	# SSH CONFIG
	IV_HOST=sit-dok05
	MIGR_IV_AP_HOST=sit-dok05
	BRP_ISC_AP_HOST=sit-dok06
	
	# DB CONFIG
	GBAV_DB_HOST=sit-db07
	GBAV_DB_NAME=gbav
	GBAV_DB_USER=gbav
	GBAV_DB_PASSWORD=gb4v
	
	BRP_IV_DB_HOST=sit-dok05
	BRP_IV_DB_NAME=brp
	BRP_IV_DB_USER=brp
	BRP_IV_DB_PASSWORD=brp
	
	BRP_ISC_DB_HOST=sit-db07
	BRP_ISC_DB_NAME=brp
	BRP_ISC_DB_USER=brp
	BRP_ISC_DB_PASSWORD=brp
	
	BRP_ISC_ARCHIVERING_DB_HOST=sit-dok06
	BRP_ISC_ARCHIVERING_DB_PORT=5452
	BRP_ISC_ARCHIVERING_DB_NAME=brp
	BRP_ISC_ARCHIVERING_DB_USER=brp
	BRP_ISC_ARCHIVERING_DB_PASSWORD=brp
	
	MIGR_DB_USER=migratie
	MIGR_DB_PASSWORD=M1gratie
	
	VOISC_DB_HOST=sit-dok06
	VOISC_DB_NAME=voisc
	VOISC_DB_PORT=5632
	
	BRP_GBAV_DB_HOST=sit-dok05
	BRP_GBAV_DB_PORT=5832
	BRP_GBAV_DB_NAME=gbav
	BRP_GBAV_DB_SCHEMA=initvul
	BRP_GBAV_DB_USER=migratie
	BRP_GBAV_DB_PASSWORD=M1gratie
	
	# WEBSERVICE CONFIG
	
	BRP_BEVRAGING_HOST=sit-dok06
	BRP_BEVRAGING_PORT=8980
	BRP_BIJHOUDING_HOST=sit-dok06
	BRP_BIJHOUDING_PORT=8780
	
	BRP_ONDERHOUD_AFNEMERINDICATIES_HOST=sit-dok06
	BRP_ONDERHOUD_AFNEMERINDICATIES_PORT=8480
	
	# voor versie >134
	BRP_ONDERHOUD_AFNEMERINDICATIES_WSDL_PATH="afnemerindicaties/AfnemerindicatiesService/lvgAfnemerindicaties?wsdl"
	
	BRP_BEHEER_HOST=sit-dok06
	BRP_BEHEER_PORT=8280

elif [[ $( hostname ) == "sit-dok07"* ]];
then
	# SSH CONFIG
	IV_HOST=sit-dok07
	MIGR_IV_AP_HOST=sit-dok07
	BRP_ISC_AP_HOST=sit-dok08
	
	# DB CONFIG
	GBAV_DB_HOST=sit-db02
	GBAV_DB_NAME=gbav
	GBAV_DB_USER=gbav
	GBAV_DB_PASSWORD=gb4v
	
	BRP_IV_DB_HOST=sit-dok07
	BRP_IV_DB_NAME=brp
	BRP_IV_DB_USER=brp
	BRP_IV_DB_PASSWORD=brp
	
	BRP_ISC_DB_HOST=sit-db02
	BRP_ISC_DB_NAME=brp
	BRP_ISC_DB_USER=brp
	BRP_ISC_DB_PASSWORD=brp
	
	BRP_ISC_ARCHIVERING_DB_HOST=sit-dok08
	BRP_ISC_ARCHIVERING_DB_PORT=5452
	BRP_ISC_ARCHIVERING_DB_NAME=brp
	BRP_ISC_ARCHIVERING_DB_USER=brp
	BRP_ISC_ARCHIVERING_DB_PASSWORD=brp
	
	MIGR_DB_USER=migratie
	MIGR_DB_PASSWORD=M1gratie
	
	VOISC_DB_HOST=sit-dok08
	VOISC_DB_NAME=voisc
	VOISC_DB_PORT=5632
	
	BRP_GBAV_DB_HOST=sit-dok07
	BRP_GBAV_DB_PORT=5832
	BRP_GBAV_DB_NAME=gbav
	BRP_GBAV_DB_SCHEMA=initvul
	BRP_GBAV_DB_USER=migratie
	BRP_GBAV_DB_PASSWORD=M1gratie
	
	# WEBSERVICE CONFIG
	
	BRP_BEVRAGING_HOST=sit-dok08
	BRP_BEVRAGING_PORT=8980
	BRP_BIJHOUDING_HOST=sit-dok08
	BRP_BIJHOUDING_PORT=8780
	
	BRP_ONDERHOUD_AFNEMERINDICATIES_HOST=sit-dok08
	BRP_ONDERHOUD_AFNEMERINDICATIES_PORT=8480
	
	# voor versie >134
	BRP_ONDERHOUD_AFNEMERINDICATIES_WSDL_PATH="afnemerindicaties/AfnemerindicatiesService/lvgAfnemerindicaties?wsdl"
	
	BRP_BEHEER_HOST=sit-dok08
	BRP_BEHEER_PORT=8280

fi

# TESTTOOL CONFIG

TEMP_DIR="./tmp";
UTILS_DIR="./utils";

CHECKOUT_LOCATION="./checkout/Testen"

IV_LOCATION="${CHECKOUT_LOCATION}/Initiele vulling";
IV_PL_LOCATION="${IV_LOCATION}/Input PL'en";
MUT_LOCATION="${CHECKOUT_LOCATION}/Mutatie verwerking";

IV_CHECK_FILE="${IV_LOCATION}/IV.controle";
TC_CHECK_FILE="${IV_LOCATION}/TC.controle";

SCRIPT_LOCATION="${CHECKOUT_LOCATION}/Controles"
SQL_CONTROLE_LOCATION="${SCRIPT_LOCATION}/SQL";
GBA_CONTROLE_LOCATION="${SCRIPT_LOCATION}/GBA";
BRP_CONTROLE_LOCATION="${UTILS_DIR}/xsl/controles/BRP";
RESBIJ_CONTROLE_LOCATION="${UTILS_DIR}/xsl/controles/RESBIJ";
RESBEV_CONTROLE_LOCATION="${UTILS_DIR}/xsl/controles/RESBEV";

OUTPUT_LOCATION="./output";
STAGES_LOCATION="${OUTPUT_LOCATION}/Stages";
BACKUP_LOCATION="${OUTPUT_LOCATION}/Backup";
RESPONSE_LOCATION="${OUTPUT_LOCATION}/Response";
RESULTS_LOCATION="${OUTPUT_LOCATION}/Results";
COMMENTS_LOCATION="${OUTPUT_LOCATION}/Comments";
OMSCHRIJVING_LOCATION="${OUTPUT_LOCATION}/Omschrijvingen";
LEVERING_LOCATION="${OUTPUT_LOCATION}/Leveringen";
BIJHOUDING_LOCATION="${OUTPUT_LOCATION}/Bijhoudingen";

PL_LOCATION="${OUTPUT_LOCATION}/PL";
UPLOAD_LOCATION="${OUTPUT_LOCATION}/Upload"
BRP_OUTPUT_LOCATION="${OUTPUT_LOCATION}/BRP";
BRP_REQUEST_OUTPUT_LOCATION="${BRP_OUTPUT_LOCATION}/Request";
BRP_RESPONSE_OUTPUT_LOCATION="${BRP_OUTPUT_LOCATION}/Response";

BSN_LIST_FILE="${OUTPUT_LOCATION}/BSN.txt";
PLACEHOLDER_LIST_FILE="${OUTPUT_LOCATION}/Placeholder.txt";
UPLOAD_BSN_LIST_FILE="${OUTPUT_LOCATION}/UPLOAD.txt";
OTHER_BSN_LIST_FILE=${UPLOAD_BSN_LIST_FILE};
DOORZETTEN_FILE="${OUTPUT_LOCATION}/DOORZETTEN.txt";

if [ "${upload}" == "true" ];
then
	OTHER_BSN_LIST_FILE="${BSN_LIST_FILE}";
	BSN_LIST_FILE="${UPLOAD_BSN_LIST_FILE}";
fi

AUTORISATIES_OUTPUT_LOCATION=${OUTPUT_LOCATION}/Autorisaties
AUTORISATIES_REQUEST_LOCATION=${AUTORISATIES_OUTPUT_LOCATION}/Request
AUTORISATIES_RESPONSE_LOCATION=${AUTORISATIES_OUTPUT_LOCATION}/Response

TYPE_LOCATION="${STAGES_LOCATION}/${stage}/${flavour}"
ACTUAL_LOCATION="${TYPE_LOCATION}/actual";
EXPECTED_LOCATION="${TYPE_LOCATION}/expected";

OLD_LOCATION="${TYPE_LOCATION}/old";
RAW_LOCATION="${TYPE_LOCATION}/raw";

LIST_LOG_LOCATION=list.log
STATUS_LOG_LOCATION=status.log
START_SCRIPT_LOG_LOCATION=start_script.log
SHOW_LOG_LOG_LOCATION=show_script.log

SOA_DB_SCRIPTS=./sql/soa_database
BRP_DB_SCRIPTS=./sql/brp_database
VOISC_DB_SCRIPTS=./sql/voisc_database
GBAV_DB_SCRIPTS=./sql/gbav_database
AFTERBURNER_DB_SCRIPTS=./sql/afterburner

LEVSAUT_CONVERT_FILES=./convert
XLS_TO_CSV="perl ${UTILS_DIR}/xls2csv.pl"
CSV_TO_XLS="perl ${UTILS_DIR}/csv2xls.pl"

# STAGES CONFIG
STAGES="IV TC M01 M02 M03 M04 M05 M06 M07 M08 M09 M10";
FLAVOURS="AI SQL GBA BRP RESBIJ RESBEV RESAI";

STAGES_OUTPUT_LOCATION=${STAGES_LOCATION}
STAGES_TYPE_LOCATION=${STAGES_OUTPUT_LOCATION}/${stage}
STAGES_FLAVOUR_LOCATION=${STAGES_TYPE_LOCATION}/${flavour}

STAGES_ACTUAL_LOCATION=${STAGES_FLAVOUR_LOCATION}/actual
STAGES_EXPECTED_LOCATION=${STAGES_FLAVOUR_LOCATION}/expected
STAGES_OLD_LOCATION=${STAGES_FLAVOUR_LOCATION}/old
STAGES_RAW_LOCATION=${STAGES_FLAVOUR_LOCATION}/raw

USTAGES="U01 U02 U03 U04 U05 U06 U07 U08 U09 U10";

# NIEUWE STRUCTUUR

MIGR_TEST_LOCATION=/var/www/migr-test
MIGR_TEST_SCRIPT=./test.sh
GBA_TEST_LOCATION="${MIGR_TEST_LOCATION}/integratieentest";

TAG_VARIABLE_LOCATION="${CHECKOUT_LOCATION}/Tags.properties";
ENDPOINT_VARIABLE_LOCATION="${CHECKOUT_LOCATION}/Endpoints.properties";
TEMPLATE_LOCATION="${MUT_LOCATION}/Templates";
QUERY_LOCATION="${MUT_LOCATION}"/Queries;
GBA_TEMPLATE_LOCATION="${TEMPLATE_LOCATION}/GBA";
BRP_TEMPLATE_LOCATION="${TEMPLATE_LOCATION}/BRP";

BIJHOUDING_DIR="Bijhouding";
BEVRAGING_DIR="Bevraging";

BRP_BIJHOUDING_LOCATION="${MUT_LOCATION}/${stage}"/3.BRP/${BIJHOUDING_DIR};
BRP_BEVRAGING_LOCATION="${MUT_LOCATION}/${stage}"/3.BRP/${BEVRAGING_DIR};

MUT_HEADER_LOCATION="${MUT_LOCATION}/BRPBijhoudingHeaders/Headers.properties";
TESTCASE_PROPERTIES_LOCATION="${MUT_LOCATION}/M01/4.GBA/testcase.properties"

BRP_PLAATSEN_AFNEMERINDICATIE_BERICHT_LOCATION="${MUT_LOCATION}/M01/1.AI_BRP/Plaatsen_afnemerindicatie_levaut.xml";
BRP_PLAATSEN_AFNEMERINDICATIE_PROPERTIES_LOCATION="${MUT_LOCATION}/M01/1.AI_BRP/Plaatsen.properties";

GBA_PLAATSEN_AFNEMERINDICATIE_BERICHT_LOCATION="${MUT_LOCATION}/M01/2.AI_GBA/Bericht.xls";
GBA_PLAATSEN_AFNEMERINDICATIE_PROPERTIES_LOCATION="${MUT_LOCATION}/M01/2.AI_GBA/testcase.properties";

GBA_QUERY_FILE=${QUERY_LOCATION}/Berichten_GBA.query
BRP_QUERY_FILE=${QUERY_LOCATION}/Berichten_BRP.query

AUTORISATIES_LOCATION=${CHECKOUT_LOCATION}/Autorisaties
AUTORISATIES_ENDPOINT_PROPERTIES=${AUTORISATIES_LOCATION}/endpoints.properties
AUTORISATIES_CONTENTS_LOCATION=${AUTORISATIES_LOCATION}/Inhoud
AUTORISATIES_TEMPLATES_LOCATION=${AUTORISATIES_LOCATION}/Templates

BIJ_AUTORISATIES_LOCATION=${AUTORISATIES_LOCATION}/Bijhoudingsautorisaties

# type controles
UPLOAD_CONTROLES="${MUT_LOCATION}/Adhoc-controle";
MUT_CONTROLES="${MUT_LOCATION}";

# grootte van lege berichten
EMPTY_GBA_SIZE=5
EMPTY_BRP_SIZE=33

SOAPUI_TEST_LOCATION="/var/www/soapui/bin";
SOAPUI_TEST_SCRIPT="./testrunner.sh";
JBPM_DOORZETTEN_XML="${TEMPLATE_LOCATION}/JBPM_Doorzetten_SoapUI.xml";

