table {
	font-family:Verdana;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#333333;
	border: 0px solid #666;
	width: 100%;
	margin: 2px 0 20px 0 !important;
	float: left;
}

th,td {
	font-weight: normal;
	padding: 14px 0 14px 0 !important;
	text-align: left;
	vertical-align: middle;
}


th {
	font-weight: bold;
	padding-bottom: 5px !important;
}

tr {
	border-bottom: 1px solid #CCCCCC;
}

td { /* voor IE */ 
	*border-bottom: 1px solid #CCCCCC;
}

td.edit {
	vertical-align: middle;
}

td.bold {
	font-weight: bold;
}

thead tr {
	border-bottom: 1px solid #006699;
}

thead th { /* voor IE */
	*border-bottom: 1px solid #006699;
}

th.sorted {
	background-color: orange;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
}
