<!--<ng-include src="'fields/select.html'"></ng-include>-->
<div ng-form="editHoofdForm" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-switch="status.nieuw">
                <h4 class="panel-title">Vrij Bericht Toevoegen</h4>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group clearrow required">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <label class="text-left control-label">Soort vrij bericht</label>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <ui-select id="soortVrijBericht"
                               name="soortVrijBericht"
                               ng-model="vrijBericht.soort"
                               thema="bootstrap"
                               ng-required="true"
                               ng-disabled="false">
                        <ui-select-match id="soortVrijBericht_match" title="Zoek"
                                         allow-clear="true">
                            {{$select.selected.naam}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item.id as item in vrijBericht.soortenVrijBericht | orderBy: 'naam' | filter: $select.search">
                            <div ng-bind-html="item.naam | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group clearrow required">
               <div class="col-md-2 col-sm-4 col-xs-12">
                    <label class="text-left control-label" for="inhoud">Inhoud</label>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <textarea class="form-control" rows="5" id="inhoud" name="inhoud" ng-model="vrijBericht.inhoud" ng-required="true" maxlength="99999"></textarea>
                </div>
            </div>
            <div class="form-group clearrow required">
               <div class="col-md-2 col-sm-4 col-xs-12">
                    <label class="text-left control-label" for="partijen">Partijen</label>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <ui-select multiple
                               id="partijen"
                               name="partijen"
                               ng-model="vrijBericht.geselecteerdePartijen"
                               theme="bootstrap"
                               close-on-select="false"
                               title="Kies partijen"
                               ui-required="true"
                               ng-disabled="false">
                        <ui-select-match placeholder="Selecteer partijen...">{{$item.code}} - {{$item.naam}}</ui-select-match>
                        <ui-select-choices repeat="partij in vrijBericht.partijen | filter: $select.search">
                            <div ng-bind-html="partij.naam | highlight: $select.search"></div>
                            <small>
                                code: <span ng-bind-html="''+ partij.code | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 btn-group btn-group-sm" role="group" ng-show="hasRole('ROLE_BRP-FB')">
                    <a ng-click="vrijBericht.verstuur(editHoofdForm)" class="btn btn-primary" ng-disabled="editHoofdForm.$invalid || !editHoofdForm.$dirty">Verstuur</a>
                </div>
            </div>
        </div>
    </div>
</div>